openapi: 3.1.0
info:
  title: Brain API
  version: 0.2.0
  description: |
    The Brain API exposes six layers as HTTP endpoints plus one MCP surface.
    Raw (evidence), Ledger (normalized financial truth), Wiki (memory),
    Policy (governance), Agent (action orchestration), Audit (proof).

    v0.2.0 introduces the Normalized Ledger layer. The Wiki API is preserved
    but its role narrows to memory rendering and Q&A — financial truth lives
    in the Ledger. The Execution endpoints are renamed to Agent endpoints;
    legacy /execution/* paths remain shipped with deprecation headers for
    the duration of the v0.3 transition.

    All endpoints are tenant-scoped. Tenant identity is derived from the
    authenticated principal. The principal's tenant is never passed in URLs
    except where explicitly required for cross-tenant operations by platform
    administrators.

    Base URL: https://api.brain.fi/v1
    Protocol: HTTPS only. HTTP requests are rejected at the edge.
    Content type: application/json unless otherwise specified.
    Character encoding: UTF-8.
    Time: all timestamps are RFC 3339 UTC (example: 2026-04-23T11:45:00Z).
  contact:
    name: Brain Finance Inc.
    url: https://brain.fi
    email: api@brain.fi
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.brain.fi/v1
    description: Production
  - url: https://api.sandbox.brain.fi/v1
    description: Sandbox

security:
  - bearerAuth: []

tags:
  - name: Raw
    description: Immutable ingestion of financial evidence (Layer 1)
  - name: Ledger
    description: Normalized financial truth — accounts, balances, transactions, counterparties, obligations, invoices, documents, transfers, reconciliation matches (Layer 2)
  - name: Wiki
    description: Human-readable memory pages, search, Q&A. Pages are derived from Ledger + Raw (Layer 3)
  - name: Policy
    description: Rule composition, signing, evaluation against Ledger state (Layer 4)
  - name: Agent
    description: Agent registration and action orchestration (Layer 5). Replaces the v0.1 Execution group; legacy /execution/* paths still resolve.
  - name: PaymentIntent
    description: PaymentIntent lifecycle — propose, approve, execute. Always passes the deterministic pre-execution gate (§6 of Engineering Standards).
  - name: Execution
    description: DEPRECATED — use Agent and PaymentIntent. Retained for v0.3 transition.
    x-deprecated-superseded-by: [Agent, PaymentIntent]
  - name: Audit
    description: Tamper-evident event log and verification (Layer 6)
  - name: MCP
    description: Model Context Protocol surface for external agents
  - name: Admin
    description: Platform administration (tenant-level operations)
  - name: Auth
    description: Self-serve onboarding & human (owner) authentication (RFC 0002). Public, rate-limited; available only when BRAIN_SELF_SERVE_SIGNUP is enabled.
  - name: Docs
    description: Public, read-only API documentation surface — the interactive reference UI and the raw OpenAPI contract it renders.

paths:
  /docs:
    get:
      tags: [Docs]
      summary: Interactive API reference (Scalar)
      description: |
        Public HTML page rendering this OpenAPI contract as an interactive
        reference, with same-origin "Try it out". Served by the gateway; the
        renderer bundle is loaded same-origin from `/v1/docs/scalar.js` and the
        spec from `/v1/openapi.yaml`.
      operationId: getDocs
      security: [] # public
      responses:
        "200":
          description: HTML documentation page.
          content:
            text/html:
              schema:
                type: string
        '400': { $ref: '#/components/responses/BadRequest' }
  /openapi.yaml:
    get:
      tags: [Docs]
      summary: OpenAPI contract (YAML)
      description: Public, raw OpenAPI 3.1 document for this API — the source rendered by `/v1/docs`.
      operationId: getOpenApiYaml
      security: [] # public
      responses:
        "200":
          description: The OpenAPI document.
          content:
            application/yaml:
              schema:
                type: string
        '400': { $ref: '#/components/responses/BadRequest' }
  /signup:
    post:
      tags: [Auth]
      summary: Self-serve tenant signup (sandbox)
      description: |
        Public, rate-limited. Provisions a new **sandbox** tenant and its owner
        user (email + password) and issues a single-use email-verification token.
        Registered only when self-serve signup is enabled
        (`BRAIN_SELF_SERVE_SIGNUP`); otherwise the route does not exist (404).
        New tenants are sandbox-only and grant **no** execution capability — real
        money stays behind the promotion + external-audit gates (RFC 0002).
      operationId: signup
      security: [] # public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email, maxLength: 320 }
                password:
                  type: string
                  minLength: 12
                  maxLength: 4096
                  description: Stored as a scrypt hash; never logged or returned.
      responses:
        '201':
          description: Tenant + owner provisioned (owner `pending` until email verified)
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id: { type: string }
                  user_id: { type: string }
                  status: { type: string, enum: [pending] }
                  verification_token:
                    type: string
                    description: Returned only OUTSIDE production (no email provider wired yet); pass to POST /auth/verify-email.
                  verification_sent:
                    type: boolean
                    description: True in production (token emailed, not returned).
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: An account with this email already exists (signup_email_taken)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify an owner's email
      description: |
        Public, rate-limited. Consumes a single-use, short-TTL verification token
        (scoped by `tenant_id`) and activates the owner. An invalid, expired, or
        already-used token returns 400 (`signup_token_invalid`).
      operationId: verifyEmail
      security: [] # public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, token]
              properties:
                tenant_id: { type: string }
                token: { type: string }
      responses:
        '200':
          description: Email verified; owner activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
                  user_id: { type: string }
                  status: { type: string, enum: [active] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/login:
    post:
      tags: [Auth]
      summary: Owner password login
      description: |
        Public, rate-limited. Email + password → a short-lived owner JWT carrying
        **management / read / approve scopes only** — never `payment_intent:propose`,
        `payment_intent:execute`, or `execution:propose` (money movement is an agent
        + §6-gate concern, never a human-login capability). An unknown email and a
        wrong password return the SAME 401 (no user enumeration); an unverified
        account returns 403.
      operationId: ownerLogin
      security: [] # public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Authenticated; owner JWT issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string, enum: [Bearer] }
                  expires_in: { type: integer, description: Token lifetime in seconds. }
                  principal:
                    type: object
                    properties:
                      id: { type: string }
                      type: { type: string, enum: [user] }
                      tenantId: { type: string }
                      scopes: { type: array, items: { type: string } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  #############################################################################
  # LAYER 1: RAW
  #############################################################################

  /raw/ingest:
    post:
      tags: [Raw]
      summary: Ingest a financial artifact
      description: |
        Accepts a financial artifact via direct upload or URL reference.
        Content is stored immutably with SHA-256 content addressing.
        Duplicate artifacts (same tenant, same SHA-256) return the existing raw_id.
      operationId: ingestRaw
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [source_type, file]
              properties:
                source_type:
                  $ref: '#/components/schemas/RawSourceType'
                source_ref:
                  type: object
                  description: Source-specific identifiers (e.g. Plaid transaction ID)
                  additionalProperties: true
                file:
                  type: string
                  format: binary
                  description: The artifact content. Max 50 MB.
                mime_type:
                  type: string
                  description: Override auto-detected MIME type
                source_schema:
                  type: string
                  maxLength: 128
                  description: >
                    Declared payload schema tag (e.g. acme_bank.transactions.v1).
                    Stored verbatim, never parsed at intake. An unknown schema
                    still ingests and waits for a parser.
                object_type:
                  type: string
                  maxLength: 128
                  description: Provider object type the payload describes (e.g. invoice)
                external_id:
                  type: string
                  maxLength: 256
                  description: Provider-side id of the described object
                operation:
                  type: string
                  enum: [upsert, delete, snapshot]
                  description: What the source asserts this artifact does to the object
                effective_at:
                  type: string
                  format: date-time
                  description: When the fact applied in the real world
                observed_at:
                  type: string
                  format: date-time
                  description: When the source exposed the fact
                idempotency_key:
                  type: string
                  maxLength: 256
                  description: >
                    Caller idempotency key (connection:resource:object:version).
                    Unique per tenant; a re-send with different bytes still dedups.
          application/json:
            schema:
              type: object
              required: [source_type, url]
              properties:
                source_type:
                  $ref: '#/components/schemas/RawSourceType'
                source_ref:
                  type: object
                  additionalProperties: true
                url:
                  type: string
                  format: uri
                  description: URL to fetch (server-side). Must be HTTPS.
                auth_header:
                  type: string
                  description: Optional Authorization header value for the fetch
                source_schema:
                  type: string
                  maxLength: 128
                  description: >
                    Declared payload schema tag (e.g. acme_bank.transactions.v1).
                    Stored verbatim, never parsed at intake.
                object_type:
                  type: string
                  maxLength: 128
                external_id:
                  type: string
                  maxLength: 256
                operation:
                  type: string
                  enum: [upsert, delete, snapshot]
                effective_at:
                  type: string
                  format: date-time
                observed_at:
                  type: string
                  format: date-time
                idempotency_key:
                  type: string
                  maxLength: 256
      responses:
        '201':
          description: Artifact ingested (new)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawIngestResponse'
        '200':
          description: Artifact already exists (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawIngestResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /raw/webhooks/{provider}:
    post:
      tags: [Raw]
      summary: Webhook ingestion from a known provider
      description: |
        HMAC-authenticated webhook endpoint. Each provider has a pre-registered
        signing secret. Request is rejected if the provider signature header
        does not verify. Provider-specific.
      operationId: ingestWebhook
      security: []  # HMAC signature replaces bearer auth
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [plaid, stripe, alchemy, netsuite, generic_hmac]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provider-specific payload
      responses:
        '202':
          description: Webhook accepted for async processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted: { type: boolean }
                  trace_id: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Signature verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /raw/{raw_id}:
    get:
      tags: [Raw]
      summary: Retrieve a raw artifact
      description: |
        Returns a short-lived signed URL (10 minute expiry) pointing at the
        artifact in Azure Blob Storage. The artifact itself is served with
        Content-Disposition: attachment.
      operationId: getRaw
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '200':
          description: Signed URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw_id: { type: string, format: uuid }
                  sha256: { type: string, pattern: '^[a-f0-9]{64}$' }
                  signed_url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
                  mime_type: { type: string }
                  bytes: { type: integer, minimum: 0 }
        '404': { $ref: '#/components/responses/NotFound' }
        '410':
          description: Artifact has been tombstoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [Raw]
      summary: Tombstone a raw artifact
      description: |
        Writes a tombstone record. The underlying artifact is retained in
        storage per regulatory retention policy but becomes inaccessible
        via the API and is filtered from all Wiki derivations.
      operationId: tombstoneRaw
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '204':
          description: Tombstoned
        '404': { $ref: '#/components/responses/NotFound' }
        '410':
          description: Already tombstoned

  /raw/{raw_id}/parsed:
    get:
      tags: [Raw]
      summary: Retrieve parsed output for an artifact
      description: Returns normalized output from all parser versions.
      operationId: getRawParsed
      parameters:
        - $ref: '#/components/parameters/RawId'
        - name: parser
          in: query
          schema:
            type: string
          description: Filter to a specific parser
        - name: parser_version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Parsed output
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw_id: { type: string, format: uuid }
                  parsed:
                    type: array
                    items:
                      $ref: '#/components/schemas/RawParsed'
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Raw]
      summary: Write a parsed (stage-3) record for an artifact
      description: >
        Records one parser-output row for the referenced artifact. Called by
        extraction workers and first-party extractor agents (e.g.
        document_extractor); it is the stage-3 producer of `raw_parsed`.
        Naturally idempotent on the (raw_artifact_id, parser, parser_version)
        tuple: re-posting the same tuple returns the existing row with 200.
        Writing into Ledger remains the Ledger normalize service's job; this
        endpoint never touches Ledger.
      operationId: writeRawParsed
      parameters:
        - $ref: '#/components/parameters/RawId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parser, parser_version, extracted]
              properties:
                parser: { type: string, minLength: 1, maxLength: 128 }
                parser_version: { type: string, minLength: 1, maxLength: 64 }
                extracted:
                  type: object
                  additionalProperties: true
                confidence: { type: number, minimum: 0, maximum: 1 }
      responses:
        '201':
          description: Parsed record created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RawParsed' }
        '200':
          description: Parsed record already existed (idempotent re-post)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RawParsed' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  #############################################################################
  # LAYER 2: LEDGER
  #############################################################################

  /ledger/accounts:
    get:
      tags: [Ledger]
      summary: List accounts
      operationId: listAccounts
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, closed, frozen, pending]
        - name: account_type
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items: { $ref: '#/components/schemas/Account' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/accounts/{account_id}:
    get:
      tags: [Ledger]
      summary: Account detail
      operationId: getAccount
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Account detail with most recent balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  account: { $ref: '#/components/schemas/Account' }
                  latest_balance: { $ref: '#/components/schemas/Balance' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/balances:
    get:
      tags: [Ledger]
      summary: Point-in-time balances
      operationId: listBalances
      parameters:
        - name: account_id
          in: query
          schema: { type: string }
        - name: as_of
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Balance list
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items: { $ref: '#/components/schemas/Balance' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/transactions:
    get:
      tags: [Ledger]
      summary: List transactions
      operationId: listTransactions
      parameters:
        - name: account_id
          in: query
          schema: { type: string }
        - name: counterparty_id
          in: query
          schema: { type: string }
        - name: direction
          in: query
          schema: { type: string, enum: [inflow, outflow, transfer, adjustment] }
        - name: status
          in: query
          schema: { type: string, enum: [pending, posted, cleared, failed, reversed, disputed] }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items: { $ref: '#/components/schemas/Transaction' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/transactions/{transaction_id}:
    get:
      tags: [Ledger]
      summary: Transaction detail
      operationId: getTransaction
      parameters:
        - name: transaction_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/counterparties:
    get:
      tags: [Ledger]
      summary: List/search counterparties
      operationId: listCounterparties
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema:
            type: string
            enum: [merchant, vendor, customer, employer, employee, bank, wallet, exchange, tax_authority, other]
        - name: verified_status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Counterparty list
          content:
            application/json:
              schema:
                type: object
                properties:
                  counterparties:
                    type: array
                    items: { $ref: '#/components/schemas/Counterparty' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/obligations:
    get:
      tags: [Ledger]
      summary: List obligations (bills, invoices, subscriptions)
      operationId: listObligations
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [upcoming, due, paid, overdue, cancelled, disputed] }
        - name: type
          in: query
          schema: { type: string }
        - name: due_before
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Obligation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  obligations:
                    type: array
                    items: { $ref: '#/components/schemas/Obligation' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/obligations/{obligation_id}/resolved:
    get:
      tags: [Ledger]
      summary: Resolved cross-source view of an obligation (observations, authority, conflicts)
      description: |
        The reconciled fact for one obligation: every source observation
        retained, field-level authority (which source owns each field),
        conflicts listed where sources disagree, and duplicate candidates
        pending user review. The "explain this number, including where sources
        disagree" surface (Phase 4 resolution / §13).
      operationId: resolveObligation
      parameters:
        - name: obligation_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Resolved obligation view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedObligationView' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/counterparties/{counterparty_id}/resolved:
    get:
      tags: [Ledger]
      summary: Resolved organization view of a counterparty (linked observations, facets)
      description: |
        The reconciled organization for one counterparty: linked observations
        across sources/types unioned into facets, name variants listed, and
        duplicate candidates pending user review (Phase 4 resolution / §13).
      operationId: resolveCounterparty
      parameters:
        - name: counterparty_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Resolved counterparty view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedCounterpartyView' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/accounts/{account_id}/resolved:
    get:
      tags: [Ledger]
      summary: Resolved money-pool view of an account (per-observation balances, links)
      description: |
        The reconciled money pool for one account: balances reported per
        observation (never adjudicated), confirmed-duplicate links followed,
        candidates pending user review. Account duplicates never auto-match
        (Phase 4 / §13), so member links here are human-confirmed.
      operationId: resolveAccount
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Resolved account view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedAccountView' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/invoices:
    get:
      tags: [Ledger]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: counterparty_id
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Invoice list
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items: { $ref: '#/components/schemas/Invoice' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/normalize:
    post:
      tags: [Ledger]
      summary: Idempotently normalize a Raw artifact into Ledger rows
      description: |
        Normalizes a raw_parsed row (or a raw_artifact_id + parser tuple) into
        Ledger entities. Idempotent: re-running with the same input returns
        the same Ledger row ids. Used by the extractor pipeline and by
        /wiki/annotate's write-through path.
      operationId: normalizeRaw
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [raw_parsed_id]
              properties:
                raw_parsed_id: { type: string }
                target_entities:
                  type: array
                  description: Optional restriction; default is all relevant entities
                  items:
                    type: string
                    enum: [account, balance, transaction, counterparty, obligation, document, category, transfer, invoice]
      responses:
        '200':
          description: Normalization result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ledger_rows_created:
                    type: array
                    items:
                      type: object
                      properties:
                        entity: { type: string }
                        id: { type: string }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/reconcile:
    post:
      tags: [Ledger]
      summary: Run the reconciliation engine over recent ledger rows
      operationId: runReconciliation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                since:
                  type: string
                  format: date-time
                match_types:
                  type: array
                  items:
                    type: string
                    enum: [transaction_receipt, invoice_payment, statement_balance, wallet_transfer, payroll_bank_debit, subscription_charge, card_charge]
      responses:
        '202':
          description: Reconciliation enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/reconciliation-matches:
    get:
      tags: [Ledger]
      summary: List reconciliation matches
      operationId: listReconciliationMatches
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: match_type
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Match list
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items: { $ref: '#/components/schemas/ReconciliationMatch' }
        '400': { $ref: '#/components/responses/BadRequest' }

  #############################################################################
  # LAYER 3: WIKI (memory)
  #############################################################################

  # Wiki memory pages — derived from Ledger + Raw, regenerable on demand.
  /memory/pages:
    get:
      tags: [Wiki]
      summary: List/search wiki pages
      operationId: listMemoryPages
      parameters:
        - name: page_type
          in: query
          schema:
            type: string
            enum: [account, counterparty, obligation, invoice, agent, policy, monthly_summary, cash_flow]
        - name: q
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        '200':
          description: Page list
          content:
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: array
                    items: { $ref: '#/components/schemas/WikiPage' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /memory/pages/{slug_or_id}:
    get:
      tags: [Wiki]
      summary: Get a single wiki page
      operationId: getMemoryPage
      parameters:
        - name: slug_or_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WikiPage' }
        '404': { $ref: '#/components/responses/NotFound' }

  /memory/regenerate:
    post:
      tags: [Wiki]
      summary: Regenerate a wiki page from current Ledger state
      operationId: regenerateMemoryPage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug_or_id]
              properties:
                slug_or_id: { type: string }
      responses:
        '200':
          description: Regenerated page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WikiPage' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /memory/search:
    get:
      tags: [Wiki]
      summary: Semantic + lexical search across wiki pages
      operationId: searchMemory
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        page: { $ref: '#/components/schemas/WikiPage' }
                        score: { type: number }

        '400': { $ref: '#/components/responses/BadRequest' }
  /wiki/entity/{entity_id}:
    get:
      tags: [Wiki]
      summary: Fetch an entity with one-hop neighbors
      operationId: getWikiEntity
      parameters:
        - $ref: '#/components/parameters/EntityId'
        - name: include_neighbors
          in: query
          schema: { type: boolean, default: true }
        - name: as_of
          in: query
          schema: { type: string, format: date-time }
          description: Bitemporal query. If omitted, current state.
      responses:
        '200':
          description: Entity and neighbors
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity:
                    $ref: '#/components/schemas/WikiEntity'
                  neighbors:
                    type: array
                    items:
                      type: object
                      properties:
                        relation: { $ref: '#/components/schemas/WikiRelation' }
                        entity: { $ref: '#/components/schemas/WikiEntity' }
        '404': { $ref: '#/components/responses/NotFound' }

  /wiki/entity/{entity_id}/evidence:
    get:
      tags: [Wiki]
      summary: Retrieve the evidence chain for an entity
      description: |
        Returns the full provenance chain: every raw_parsed record and
        extraction path that produced this entity and its attributes.
      operationId: getEntityEvidence
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Evidence chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceChain'

        '400': { $ref: '#/components/responses/BadRequest' }
  /wiki/entity/{entity_id}/history:
    get:
      tags: [Wiki]
      summary: All temporal versions of an entity
      operationId: getEntityHistory
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id: { type: string, format: uuid }
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WikiEntity'

        '400': { $ref: '#/components/responses/BadRequest' }
  /wiki/search:
    get:
      tags: [Wiki]
      summary: Search the Wiki
      operationId: searchWiki
      parameters:
        - name: kind
          in: query
          schema: { $ref: '#/components/schemas/EntityKind' }
        - name: q
          in: query
          schema: { type: string }
          description: Full-text query over entity attributes
        - name: semantic
          in: query
          schema: { type: string }
          description: Semantic query using pgvector embeddings
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/WikiEntity' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /wiki/question:
    post:
      tags: [Wiki]
      summary: Natural-language question against the Wiki
      description: |
        Translates a natural-language question into a set of SQL queries
        against the Wiki, executes them, and composes an answer with an
        evidence path attached. This is the LLM-in-hot-path endpoint.
        Costs apply per call; see pricing documentation.
      operationId: askWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question:
                  type: string
                  minLength: 1
                  maxLength: 2000
                as_of:
                  type: string
                  format: date-time
                  description: Evaluate against the Wiki as of this time
                max_evidence_depth:
                  type: integer
                  default: 3
                  maximum: 5
      responses:
        '200':
          description: Answer with evidence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WikiAnswer'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /wiki/annotate:
    post:
      tags: [Wiki]
      summary: Human correction on an entity or relation
      description: |
        Submits a structured correction. Corrections are applied as a new
        temporal version with provenance=human_confirmed. The original
        version is retained.
      operationId: annotateWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/EntityAnnotation'
                - $ref: '#/components/schemas/RelationAnnotation'
      responses:
        '201':
          description: Annotation applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  annotation_id: { type: string, format: uuid }
                  new_version_id: { type: string, format: uuid }

        '400': { $ref: '#/components/responses/BadRequest' }
  /wiki/schema:
    get:
      tags: [Wiki]
      summary: Retrieve current JSON schemas per entity and relation kind
      operationId: getWikiSchema
      parameters:
        - name: kind
          in: query
          schema: { type: string }
      responses:
        '200':
          description: JSON schemas
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: JSON Schema document for the kind
                  type: object
        '400': { $ref: '#/components/responses/BadRequest' }

  #############################################################################
  # LAYER 4: POLICY
  #############################################################################

  /policy/{tenant_id}:
    get:
      tags: [Policy]
      summary: Get the active policy for a tenant
      operationId: getActivePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Active policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '404': { $ref: '#/components/responses/NotFound' }

  /policy/{tenant_id}/versions:
    get:
      tags: [Policy]
      summary: List policy versions
      operationId: listPolicyVersions
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items: { $ref: '#/components/schemas/Policy' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /policy/{tenant_id}/compose:
    post:
      tags: [Policy]
      summary: Compose a new policy, returns signing payload
      description: |
        Validates the proposed policy against the DSL schema. Returns an
        EIP-712 typed-data signing payload. Caller then signs with the
        appropriate keys and submits via /sign.
      operationId: composePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDSL'
      responses:
        '200':
          description: Signing payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  content_hash: { type: string, pattern: '^0x[a-f0-9]{64}$' }
                  typed_data:
                    description: EIP-712 typed data document to sign
                    type: object
                  required_signers:
                    type: array
                    items: { type: string }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /policy/{tenant_id}/sign:
    post:
      tags: [Policy]
      summary: Submit signatures for a composed policy
      operationId: signPolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content_hash, signatures]
              properties:
                content_hash: { type: string }
                signatures:
                  type: array
                  items:
                    type: object
                    properties:
                      signer: { type: string, description: Signer address }
                      signature: { type: string }
      responses:
        '201':
          description: Policy activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '409':
          description: Insufficient signatures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /policy/{tenant_id}/evaluate:
    post:
      tags: [Policy]
      summary: Evaluate a proposed action against active policy
      operationId: evaluatePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposedAction'
      responses:
        '200':
          description: Decision and trace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDecision'

        '400': { $ref: '#/components/responses/BadRequest' }
  /policy/{tenant_id}/simulate:
    post:
      tags: [Policy]
      summary: Replay an action against a historical policy version
      operationId: simulatePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, version]
              properties:
                action: { $ref: '#/components/schemas/ProposedAction' }
                version: { type: integer }
      responses:
        '200':
          description: Decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDecision'

        '400': { $ref: '#/components/responses/BadRequest' }
  /policy/{tenant_id}/lint:
    post:
      tags: [Policy]
      summary: Static-analyze a candidate policy before signing (H-18)
      operationId: lintPolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy_content]
              properties:
                policy_content: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Lint findings
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id: { type: string }
                  errors: { type: integer }
                  warnings: { type: integer }
                  findings:
                    type: array
                    items:
                      type: object
                      properties:
                        code: { type: string }
                        severity: { type: string, enum: [ERROR, WARN] }
                        rule_id: { type: [string, "null"] }
                        message: { type: string }

        '400': { $ref: '#/components/responses/BadRequest' }
  /policy/{tenant_id}/diff:
    post:
      tags: [Policy]
      summary: Semantic diff between two policy versions (H-18)
      operationId: diffPolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from_version, to_version]
              properties:
                from_version: { type: integer }
                to_version: { type: integer }
      responses:
        '200':
          description: Rule-level diff
          content:
            application/json:
              schema:
                type: object
                properties:
                  from_version: { type: integer }
                  to_version: { type: integer }
                  added: { type: array, items: { type: object } }
                  removed: { type: array, items: { type: object } }
                  modified: { type: array, items: { type: object } }
        '404': { $ref: '#/components/responses/NotFound' }

  /policy/{tenant_id}/simulate-historical:
    post:
      tags: [Policy]
      summary: Replay the period's actions against a candidate policy (H-18)
      operationId: simulateHistoricalPolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy_content, period_start, period_end]
              properties:
                policy_content: { type: object, additionalProperties: true }
                period_start: { type: string }
                period_end: { type: string }
      responses:
        '200':
          description: Simulation result + diff vs active
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer }
                  would_allow: { type: integer }
                  would_confirm: { type: integer }
                  would_reject: { type: integer }
                  diff_vs_active: { type: object }
        '400': { $ref: '#/components/responses/BadRequest' }

  #############################################################################
  # LAYER 5: AGENT (action orchestration; legacy /execution/* paths retained)
  #
  # New integrations should target /agents/* and /payment-intents/*.
  # The /execution/* paths below are equivalent (alias routing in the API
  # gateway) and remain shipped during the v0.3 transition. They carry a
  # `Deprecation` response header. Tag: Execution (deprecated).
  #############################################################################

  /agents:
    get:
      tags: [Agent]
      summary: List agents available to the tenant (internal-agent catalog)
      operationId: listAgents
      description: |
        Returns the first-party agent catalog (capability definitions). Internal
        and external agents share these routes — kind/provenance is a metadata
        field, not a separate path.
      parameters:
        - name: kind
          in: query
          description: Filter by provenance (e.g. internal/external).
          schema: { type: string }
        - name: capability
          in: query
          schema: { type: string }
        - name: category
          in: query
          schema: { type: string, enum: [business, consumer, agnostic] }
        - name: state
          in: query
          schema: { type: string, enum: [enabled, disabled] }
      responses:
        '200':
          description: Agent catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                      properties:
                        agent_key: { type: string }
                        provenance: { type: string }
                        category: { type: string }
                        capabilities: { type: array, items: { type: string } }
                        enabled_by_default: { type: boolean }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/{agent_id}:
    get:
      tags: [Agent]
      summary: Agent detail (catalog definition + on-chain registration)
      operationId: getAgent
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Agent definition and registration record
          content:
            application/json:
              schema:
                type: object
                properties:
                  definition: { type: object }
                  registration: { type: [object, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/{agent_id}/propose:
    post:
      tags: [Agent]
      summary: (Deprecated) Agent proposes a non-financial action
      operationId: proposeAgentAction
      deprecated: true
      description: |
        Not implemented. The proposal path is POST /agents/run (route → resolve →
        persist run → propose safely behind the §6 gate); financial actions go
        through POST /actions. This operation is retained only for back-compat
        documentation and returns 404.
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: object }
      responses:
        '201':
          description: Proposal created with policy decision attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposal_id: { type: string }
                  policy_decision_id: { type: string }
                  status: { type: string }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/{agent_id}/actions:
    get:
      tags: [Agent]
      summary: Recent actions/proposals for an agent
      operationId: listAgentActions
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        '200':
          description: Action list
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        proposal_id: { type: string }
                        payment_intent_id: { type: [string, "null"] }
                        status: { type: string }
                        created_at: { type: string, format: date-time }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/register:
    post:
      tags: [Agent]
      summary: Register an external agent
      operationId: registerAgent
      deprecated: true
      description: |
        Not yet implemented under /agents/*. Registration currently goes through
        the still-live legacy POST /execution/agents/register, which persists the
        agent in `pending_onchain` until the BrainMCPAgentRegistry tx confirms.
        This path is reserved for the v0.3 migration and is documented here for
        forward reference only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, role, display_name]
              properties:
                agent_id: { type: string }
                role: { type: string }
                display_name: { type: string }
                scope_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
                onchain_address: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
                registered_tx: { type: string }
      responses:
        '201':
          description: Agent registered (pending_onchain)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/mcp:
    post:
      tags: [Agent, MCP]
      summary: MCP JSON-RPC entry for external agents
      description: |
        Single-shot HTTP transport for the Brain MCP (Model Context
        Protocol) surface. The request body is a JSON-RPC 2.0 envelope;
        the response is a JSON-RPC 2.0 envelope (always HTTP 200 unless
        the transport itself fails — application-level errors are
        carried inside the `error` field).

        Authentication: standard Brain JWT bearer with
        `principal_type=agent`. Before any method is dispatched the MCP
        server verifies (a) the agent record is `active`, (b) the JWT's
        `scope_hash` matches the on-chain hash registered in
        `BrainMCPAgentRegistry`, and (c) tenant equality. These
        pre-dispatch checks fail with an HTTP 401/403 Brain error
        envelope — NOT a JSON-RPC response. The JSON-RPC `McpErrorCode`
        range (-32001..-32005) is reserved for failures raised *after*
        authentication, inside method dispatch — chiefly per-tool scope
        checks (-32002) and §6 gate failures (-32004).

        Supported methods (v0.3):
          * `initialize`, `ping`
          * `tools/list`, `tools/call` — 12 tools across ledger, wiki,
            raw evidence, payment intents (propose/cancel/list), and
            agent action proposals
          * `resources/list`, `resources/read` — 7 resource templates
            (ledger accounts/transactions/obligations/payment-intents,
            wiki pages, payments action_types catalog, action proofs)
          * `prompts/list`, `prompts/get` — 5 canned prompts

        Tools enforce per-call scopes (e.g. `ledger:read`,
        `payment_intent:propose`). `tools/list` returns the full
        registry regardless of scope; `tools/call` is the gate.
        See `docs/mcp-architecture.md` for the full surface.
      operationId: agentMcpEntry
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/JsonRpcRequest' }
      responses:
        '200':
          description: |
            JSON-RPC envelope. On success, `result` carries the method
            result. On failure, `error.code` is one of the standard
            JSON-RPC codes (-32600..-32603) or a Brain-specific MCP
            code (-32001..-32005).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JsonRpcResponse' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/route:
    post:
      tags: [Agent]
      summary: Routing decision only (no run)
      description: Returns the selected agent + scoring reason. Advisory; the selected agent still proposes through the gated path.
      operationId: routeAgent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgentRouteRequest' }
      responses:
        '200':
          description: Routing decision
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RoutingDecision' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /agents/run:
    post:
      tags: [Agent]
      summary: Route, resolve action, persist a run, and propose (shadow-aware)
      description: |
        Routes an event/intent to an agent, resolves the action within it,
        evaluates the §6 gate in dry-run, persists an `agent_runs` row, and
        proposes through the existing path. A financial proposal from a shadowed
        (un-promoted) agent terminates as `shadow_completed` and moves no money.
      operationId: runAgent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgentRouteRequest' }
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentRunResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: Proposal-layer idempotency collision (`agent_proposal_duplicate`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /agents/events:
    post:
      tags: [Agent]
      summary: Enqueue an event-driven route/run job
      operationId: enqueueAgentEvent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgentRouteRequest' }
      responses:
        '200':
          description: Job enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  status: { type: string, enum: [queued] }
        '400': { $ref: '#/components/responses/BadRequest' }

  /agents/runs:
    get:
      tags: [Agent]
      summary: List agent runs
      operationId: listAgentRuns
      parameters:
        - name: agent_id
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/AgentRunStatus' }
        - name: category
          in: query
          schema: { type: string, enum: [business, consumer] }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 500 }
      responses:
        '200':
          description: Run list
          content:
            application/json:
              schema:
                type: object
                properties:
                  runs:
                    type: array
                    items: { $ref: '#/components/schemas/AgentRun' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/runs/{run_id}:
    get:
      tags: [Agent]
      summary: Agent run detail
      operationId: getAgentRun
      parameters:
        - name: run_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Run summary (H-25)
          content:
            application/json:
              schema:
                type: object
                description: AgentRunSummary — see schemas/agent-run.schema.json
                properties:
                  run_id: { type: string }
                  tenant_id: { type: string }
                  agent_id: { type: string }
                  agent_key: { type: string }
                  status:
                    type: string
                    enum: [completed, failed, shadow_completed, rejected]
                  trigger: { type: object }
                  resolved_action: { type: object }
                  evidence_count: { type: integer }
                  confidence: { type: number }
                  evidence_score: { type: number }
                  risk_level: { type: string, enum: [low, medium, high, critical] }
                  outcome: { type: object }
                  started_at: { type: string }
                  completed_at: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }

  /agents/runs/{run_id}/why:
    get:
      tags: [Agent]
      summary: Why this agent was selected for the run (H-25)
      description: Which agents were candidates, why this one was selected (router multi-factor reason — score, evidence completeness, reputation, cost), and the runtime behavior hash.
      operationId: getAgentRunWhy
      parameters:
        - name: run_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Routing rationale
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id: { type: string }
                  selected_agent_id: { type: [string, "null"] }
                  candidate_agent_ids: { type: array, items: { type: string } }
                  reason: { type: object }
                  behavior_hash: { type: [string, "null"] }
        '404': { $ref: '#/components/responses/NotFound' }

  /agents/runs/{run_id}/evidence:
    get:
      tags: [Agent]
      summary: Evidence chain the agent consumed for the run (H-25)
      operationId: getAgentRunEvidence
      parameters:
        - name: run_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Evidence chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id: { type: string }
                  evidence: { type: array, items: { type: object } }
        '404': { $ref: '#/components/responses/NotFound' }

  /agents/runs/{run_id}/gate-trace:
    get:
      tags: [Agent]
      summary: The §6 gate check trace if a gate ran during the run (H-25)
      operationId: getAgentRunGateTrace
      parameters:
        - name: run_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Gate trace
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id: { type: string }
                  payment_intent_id: { type: [string, "null"] }
                  gate_checks: { type: array, items: { type: object } }
        '404': { $ref: '#/components/responses/NotFound' }

  /agents/runs/{run_id}/proof:
    get:
      tags: [Agent]
      summary: Proof for the action the run produced (H-25 → H-07)
      description: Proxies the Proof API for the run's PaymentIntent. 404 if the run produced no on-ledger action.
      operationId: getAgentRunProof
      parameters:
        - name: run_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The assembled proof (see GET /proof/{action_id})
          content:
            application/json:
              schema: { type: object }
        '404': { $ref: '#/components/responses/NotFound' }

  /agents/routing-decisions/{id}:
    get:
      tags: [Agent]
      summary: Routing decision detail
      operationId: getRoutingDecision
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Routing decision record
          content:
            application/json:
              schema: { type: object }
        '404': { $ref: '#/components/responses/NotFound' }

  /agents/{agent_id}/halt:
    post:
      tags: [Agent]
      summary: Halt an agent — pause its in-flight intents and quarantine it
      description: Tenant-root kill-switch (1b.3). Pauses all in-flight PaymentIntents from the agent and flips its state to `quarantined`.
      operationId: haltAgent
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Halt result
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id: { type: string }
                  paused: { type: array, items: { type: string } }
                  quarantined: { type: boolean }

        '400': { $ref: '#/components/responses/BadRequest' }
  /agents/halt-category:
    post:
      tags: [Agent]
      summary: Emergency-stop every agent in a category
      description: Break-glass + tenant-root. Halts all agents of the given category.
      operationId: haltCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category]
              properties:
                category: { type: string, enum: [business, consumer, agnostic] }
      responses:
        '200':
          description: Per-agent halt results
          content:
            application/json:
              schema:
                type: object
                properties:
                  category: { type: string }
                  halted:
                    type: array
                    items:
                      type: object
                      properties:
                        agent_id: { type: string }
                        paused: { type: array, items: { type: string } }
                        quarantined: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }

  /payment-intents:
    post:
      tags: [PaymentIntent]
      summary: Create a PaymentIntent (proposed)
      operationId: createPaymentIntent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: FullPaymentIntent
                  type: object
                  required: [action_type, source_account_id, destination_counterparty_id, amount, currency]
                  properties:
                    action_type:
                      type: string
                      description: >-
                        Settlement rail for the intent. `x402_settle` (USDC on
                        Base via the x402 rail) and `escrow_release` (BrainEscrow
                        lock release, RFC 0001 §7.6) are gated but not yet
                        executable (shadow-first).
                      enum: [ach_outbound, ach_inbound, wire, onchain_transfer, erp_writeback, card_payment, x402_settle, escrow_release]
                    source_account_id: { type: string }
                    destination_counterparty_id: { type: string }
                    amount: { type: string, pattern: '^\d+(\.\d+)?$' }
                    # ISO-4217 (3-letter) for fiat rails; USDC for x402_settle (D-4, RFC 0001 §7.1).
                    currency: { type: string, pattern: '^[A-Z]{3}$|^USDC$' }
                    obligation_id: { type: string }
                    invoice_id: { type: string }
                    agent_id: { type: string }
                    evidence_ids:
                      type: array
                      items: { type: string }
                    pay_to:
                      type: string
                      pattern: '^0x[0-9a-fA-F]{40}$'
                      description: >-
                        x402 settlement recipient on-chain address. Required when
                        action_type=x402_settle; ignored otherwise (RFC 0001 §6.1).
                    escrow_id:
                      type: string
                      pattern: '^0x[0-9a-fA-F]{64}$'
                      description: >-
                        On-chain BrainEscrow id. Required when
                        action_type=escrow_release; ignored otherwise (RFC 0001 §7.6).
                    job_terms_hash:
                      type: string
                      pattern: '^0x[0-9a-fA-F]{64}$'
                      description: >-
                        keccak256 commitment of the escrow job terms. Required when
                        action_type=escrow_release; ignored otherwise (RFC 0001 §7.6).
                - title: PayInvoiceShortcut
                  type: object
                  description: >
                    Invoice shortcut (P0.5). Resolves amount, currency, counterparty,
                    source account, and evidence from the invoice. Fails closed with an
                    invoice_shortcut_* error if any input is unresolved.
                  required: [type, invoice_id]
                  properties:
                    type: { type: string, enum: [pay_invoice] }
                    invoice_id: { type: string }
                    agent_id: { type: string }
      responses:
        '201':
          description: PaymentIntent created with PolicyDecision attached
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Invoice not found / not accessible (invoice shortcut, fails closed)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: Invoice already paid or duplicate (invoice shortcut, fails closed)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /payment-intents/{id}:
    get:
      tags: [PaymentIntent]
      summary: PaymentIntent detail with PolicyDecision and audit trail
      operationId: getPaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payment-intents/{id}/approve:
    post:
      tags: [PaymentIntent]
      summary: Sign approval on a confirm-mode PaymentIntent
      operationId: approvePaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /payment-intents/{id}/reject:
    post:
      tags: [PaymentIntent]
      summary: Reject a PaymentIntent
      operationId: rejectPaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Rejected PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /payment-intents/{id}/execute:
    post:
      tags: [PaymentIntent]
      summary: Execute an approved PaymentIntent through its rail
      description: |
        Runs the deterministic 13-step pre-execution gate (§6 of Engineering
        Standards), then durably hands the action to the execution outbox
        (H-04). On success the intent transitions approved → dispatching and a
        `pending` outbox row is enqueued atomically; the outbox worker then
        dispatches the rail and settles the intent asynchronously. Returns 202
        with `status: dispatching` and the `outbox_id`; `execution_id` is null
        until the worker dispatches. Returns 409 with `payment_intent_gate_failed`
        if any gate check fails, with details listing the failing check index.
      operationId: executePaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '202':
          description: Gate passed; action enqueued to the durable outbox
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_intent_id: { type: string }
                  outbox_id: { type: string }
                  execution_id: { type: [string, "null"] }
                  rail: { type: string }
                  status: { type: string, enum: [dispatching, dispatched, in_flight] }
        '409':
          description: Gate failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /payment-intents/{id}/pause:
    post:
      tags: [PaymentIntent]
      summary: Pause an approved PaymentIntent (kill-switch)
      description: Holds an `approved` intent without a terminal transition (1b.3). approved → paused.
      operationId: pausePaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Paused PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }
        '409':
          description: Not in a pausable state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /payment-intents/{id}/resume:
    post:
      tags: [PaymentIntent]
      summary: Resume a paused PaymentIntent
      description: Re-runs the live §6 gate before re-entering `approved` (defends against Ledger state drift while paused). paused → approved.
      operationId: resumePaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Resumed PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }
        '409':
          description: Resume gate failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /payment-intents/{id}/replay-investigation:
    get:
      tags: [PaymentIntent]
      summary: Typed forensic record for a PaymentIntent
      description: |
        Returns the intent, its executions (each with its typed rail receipt),
        and the linking ids (policy_decision_id, evidence_ids). The policy
        decision, reservation, and audit chain are referenced by id and joined
        via their owning service APIs (2.4).
      operationId: replayInvestigation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Forensic bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_intent: { $ref: '#/components/schemas/PaymentIntent' }
                  executions:
                    type: array
                    items: { type: object }
                  policy_decision_id: { type: [string, "null"] }
                  evidence_ids: { type: array, items: { type: string } }
        '404': { $ref: '#/components/responses/NotFound' }

  #############################################################################
  # LAYER 5 (legacy): EXECUTION — deprecated, retained for v0.3 transition
  #############################################################################

  /execution/propose:
    post:
      tags: [Execution]
      summary: Agent proposes an action
      description: |
        The agent submits an action. The server evaluates it against the
        active policy and returns a decision. If decision=allow, the action
        can be executed immediately via /execute. If decision=confirm, the
        action requires human approval first. If decision=reject, no
        further action is possible.
      operationId: proposeAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, action]
              properties:
                agent_id: { type: string }
                action: { $ref: '#/components/schemas/ProposedAction' }
                idempotency_key:
                  type: string
                  description: Client-supplied key for deduplication
      responses:
        '201':
          description: Proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'

        '400': { $ref: '#/components/responses/BadRequest' }
  /execution/execute:
    post:
      tags: [Execution]
      summary: 'DISABLED: legacy proposal execution (bypassed the §6 gate)'
      operationId: executeProposal
      deprecated: true
      description: >
        Disabled. This legacy v0.2 route dispatched a proposal through a payment
        rail with no §6 pre-execution gate — no policy decision, sanctions,
        balance, or amount-limit checks, and no audit before/after pair — which
        Engineering Standards §6 ("no execution path may bypass the gate") and
        §9.5 ("financial actions use PaymentIntent, not Proposal") forbid. It now
        always returns 422 `gate_no_policy_decision`. Execute money movement via
        `POST /actions/{action_id}/execute`, which runs the gate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id]
              properties:
                proposal_id: { type: string, format: uuid }
                dry_run: { type: boolean, default: false }
      responses:
        '422':
          description: >
            Route disabled. Money movement must go through the gated
            POST /actions/{action_id}/execute. Error code
            `gate_no_policy_decision`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /execution/{execution_id}:
    get:
      tags: [Execution]
      summary: Execution status and trace
      operationId: getExecution
      parameters:
        - name: execution_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Execution record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
        '404': { $ref: '#/components/responses/NotFound' }

  /execution/approve:
    post:
      tags: [Execution]
      summary: Human approval for a confirm-gated proposal
      operationId: approveProposal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id]
              properties:
                proposal_id: { type: string, format: uuid }
                approver_notes: { type: string }
      responses:
        '200':
          description: Approved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Proposal' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /execution/escalate:
    post:
      tags: [Execution]
      summary: Agent escalates to human
      operationId: escalateProposal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id, reason]
              properties:
                proposal_id: { type: string, format: uuid }
                reason: { type: string }
      responses:
        '200':
          description: Escalated

        '400': { $ref: '#/components/responses/BadRequest' }
  /execution/agents:
    get:
      tags: [Execution]
      summary: List configured agents for the current tenant
      operationId: listExecutionAgents
      responses:
        '200':
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items: { $ref: '#/components/schemas/Agent' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /execution/agents/register:
    post:
      tags: [Execution]
      summary: Register an external agent
      description: |
        Registers a third-party agent for this tenant. Returns on-chain
        attestation transaction hash after BrainMCPAgentRegistry registration
        completes.
      operationId: registerExternalAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_address, scope]
              properties:
                agent_address:
                  type: string
                  description: Ethereum address of the agent
                scope:
                  $ref: '#/components/schemas/AgentScope'
                tenant_signature:
                  type: string
                  description: EIP-712 signature authorizing this scope
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id: { type: string }
                  onchain_tx_hash: { type: string }
                  scope_hash: { type: string }

        '400': { $ref: '#/components/responses/BadRequest' }
  /execution/agents/{agent_id}:
    get:
      tags: [Execution]
      summary: Get agent configuration and on-chain registration
      operationId: getExecutionAgent
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Agent record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  #############################################################################
  # LAYER 6: AUDIT
  #############################################################################

        '400': { $ref: '#/components/responses/BadRequest' }
  /audit/entity/{entityType}/{entityId}:
    get:
      tags: [Audit]
      summary: Every audit event touching a Ledger row
      operationId: getAuditEntityHistory
      parameters:
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum:
              - account
              - balance
              - transaction
              - counterparty
              - obligation
              - document
              - invoice
              - payment_intent
              - reconciliation_match
              - proposal
              - execution
        - name: entityId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Event history
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_type: { type: string }
                  entity_id: { type: string }
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEvent' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /proof/{action_id}:
    get:
      tags: [Audit]
      summary: Canonical, verifiable proof for an action (H-07)
      description: |
        The flagship trust artifact. Assembles a single, independently
        verifiable Proof for a PaymentIntent (or agent-action) from the §6 gate
        trace, the evidence chain, the policy decision, and the append-only,
        on-chain-anchored audit Merkle chain. Tenant-isolated: an action that
        does not exist for the caller's tenant returns 404 (existence is never
        leaked). `chain_anchor` is null until the containing batch is anchored
        on-chain.
      operationId: getProof
      parameters:
        - name: action_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The assembled proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_id: { type: string }
                  tenant_id: { type: string }
                  agent_id: { type: string }
                  behavior_hash: { type: [string, "null"] }
                  outcome:
                    type: string
                    enum: [allowed, confirmed, rejected, executed, failed, shadow_completed]
                  policy_version: { type: string }
                  policy_hash: { type: string }
                  matched_rule_id: { type: [string, "null"] }
                  gate_checks: { type: array, items: { type: object } }
                  evidence: { type: array, items: { type: object } }
                  ledger_snapshot_hash: { type: string }
                  audit_events: { type: array, items: { type: object } }
                  merkle_root: { type: string }
                  merkle_proof: { type: array, items: { type: string } }
                  chain_anchor: { type: [object, "null"] }
                  rail_receipt: { type: [object, "null"] }
                  human_explanation: { type: string }
        '404':
          description: No proof for that action (or not visible to this tenant)

  /proof/{action_id}/view:
    get:
      tags: [Audit]
      summary: Human-readable proof viewer (P0.7)
      description: |
        Server-rendered HTML view of the same canonical Proof as
        GET /proof/{action_id} — the compliance-/investor-facing screen. No auth
        bypass: requires the same authenticated principal + audit:read scope and
        is tenant-isolated (unknown/cross-tenant id → 404, no existence leak).
      operationId: getProofView
      parameters:
        - name: action_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Rendered proof page
          content:
            text/html:
              schema: { type: string }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: No proof for that action (or not visible to this tenant)

  /webhooks/{endpoint_id}/dead-letters:
    get:
      tags: [Audit]
      summary: List undeliverable webhook events for an endpoint (H-20)
      description: |
        Outbound webhook deliveries that failed are durably recorded here
        instead of being lost. Each row tracks attempt_count and the last error;
        once attempt_count reaches 5 the row is exhausted (replay no longer
        auto-retries it). Tenant-isolated.
      operationId: listWebhookDeadLetters
      parameters:
        - name: endpoint_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Dead-letter list
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint_id: { type: string }
                  dead_letters:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        event_id: { type: string }
                        event_type: { type: string }
                        last_error: { type: [string, "null"] }
                        attempt_count: { type: integer }
                        created_at: { type: string }
                        last_attempt_at: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }

  /webhooks/{endpoint_id}/replay:
    post:
      tags: [Audit]
      summary: Replay dead-lettered webhook events (H-20)
      description: |
        Re-delivers each dead-letter still under the attempt cap. A successful
        re-delivery clears the row; a failure bumps attempt_count. Idempotent
        (accepts Idempotency-Key). Tenant-isolated.
      operationId: replayWebhookDeadLetters
      parameters:
        - name: endpoint_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Replay result
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint_id: { type: string }
                  attempted: { type: integer }
                  redelivered: { type: integer }
                  still_failing: { type: integer }
        '404': { $ref: '#/components/responses/NotFound' }

  /audit/events:
    get:
      tags: [Audit]
      summary: Query audit events
      operationId: queryAuditEvents
      parameters:
        - name: layer
          in: query
          schema:
            type: string
            enum: [raw, ledger, wiki, policy, agent, execution, audit]
        - name: actor
          in: query
          schema: { type: string }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEvent' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /audit/event/{event_id}:
    get:
      tags: [Audit]
      summary: Get a single event with inclusion proof
      operationId: getAuditEvent
      parameters:
        - name: event_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Event and proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  event: { $ref: '#/components/schemas/AuditEvent' }
                  inclusion_proof:
                    type: object
                    properties:
                      merkle_root: { type: string }
                      merkle_proof:
                        type: array
                        items: { type: string }
                      anchor_tx_hash: { type: string }
                      anchor_block: { type: integer }

        '400': { $ref: '#/components/responses/BadRequest' }
  /audit/export:
    post:
      tags: [Audit]
      summary: Request an audit export (async)
      operationId: exportAudit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format, since, until]
              properties:
                format: { type: string, enum: [jsonl, csv] }
                since: { type: string, format: date-time }
                until: { type: string, format: date-time }
                layers:
                  type: array
                  items:
                    type: string
                    enum: [raw, ledger, wiki, policy, agent, execution, audit]
      responses:
        '202':
          description: Export job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string, format: uuid }
                  status_url: { type: string, format: uri }

        '400': { $ref: '#/components/responses/BadRequest' }
  /audit/anchor/latest:
    get:
      tags: [Audit]
      summary: Get the latest on-chain anchor for the current tenant
      operationId: getLatestAnchor
      responses:
        '200':
          description: Anchor record
          content:
            application/json:
              schema:
                type: object
                properties:
                  merkle_root: { type: string }
                  event_count: { type: integer }
                  period_start: { type: string, format: date-time }
                  period_end: { type: string, format: date-time }
                  onchain_tx_hash: { type: string }
                  onchain_block_number: { type: integer }

        '400': { $ref: '#/components/responses/BadRequest' }
  /audit/verify:
    post:
      tags: [Audit]
      summary: Verify an event's inclusion against on-chain root
      description: |
        Independent verification. Caller supplies an event hash, a Merkle
        proof, and a claimed root. Server verifies the proof and the root's
        on-chain presence. Returns true only if both hold.
      operationId: verifyInclusion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_hash, merkle_proof, merkle_root]
              properties:
                event_hash: { type: string }
                merkle_proof:
                  type: array
                  items: { type: string }
                merkle_root: { type: string }
      responses:
        '200':
          description: Verification result
          content:
[...]
