openapi: 3.1.0
info:
  title: Brain API
  version: 0.2.0
  description: |
    The Brain API exposes six layers as HTTP endpoints plus one MCP surface.
    Raw (evidence), Ledger (normalized financial truth), Wiki (memory),
    Policy (governance), Agent (action orchestration), Audit (proof).

    v0.2.0 introduces the Normalized Ledger layer. The Wiki API is preserved
    but its role narrows to memory rendering and Q&A — financial truth lives
    in the Ledger. The Execution endpoints are renamed to Agent endpoints;
    legacy /execution/* paths remain shipped with deprecation headers for
    the duration of the v0.3 transition.

    All endpoints are tenant-scoped. Tenant identity is derived from the
    authenticated principal. The principal's tenant is never passed in URLs
    except where explicitly required for cross-tenant operations by platform
    administrators.

    Base URL: https://api.brain.fi/v1
    Protocol: HTTPS only. HTTP requests are rejected at the edge.
    Content type: application/json unless otherwise specified.
    Character encoding: UTF-8.
    Time: all timestamps are RFC 3339 UTC (example: 2026-04-23T11:45:00Z).
  contact:
    name: Brain Finance Inc.
    url: https://brain.fi
    email: api@brain.fi
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.brain.fi/v1
    description: Production
  - url: https://api.sandbox.brain.fi/v1
    description: Sandbox

security:
  - bearerAuth: []

tags:
  - name: Raw
    description: Immutable ingestion of financial evidence (Layer 1)
  - name: Ledger
    description: Normalized financial truth — accounts, balances, transactions, counterparties, obligations, invoices, documents, transfers, reconciliation matches (Layer 2)
  - name: Wiki
    description: Human-readable memory pages, search, Q&A. Pages are derived from Ledger + Raw (Layer 3)
  - name: Policy
    description: Rule composition, signing, evaluation against Ledger state (Layer 4)
  - name: Agent
    description: Agent registration and action orchestration (Layer 5). Replaces the v0.1 Execution group; legacy /execution/* paths still resolve.
  - name: Proposals
    description: Typed, customer-facing read surface for agent outputs across money and non-money proposals.
  - name: PaymentIntent
    description: PaymentIntent lifecycle — propose, approve, execute. Always passes the deterministic pre-execution gate (§6 of Engineering Standards).
  - name: Members
    description: Tenant members, roles, and approval authority. The normative actor model behind PaymentIntent approval and second-approval gating.
  - name: Tenancy
    description: |
      Production tenant creation, platform-identity session exchange, and
      member invites. Gated by a shared platform BFF credential
      (`X-Platform-Service-Auth`), not a JWT bearer scope — a distinct
      auth mechanism from the rest of the API. Separate from the sandbox
      self-serve `Auth` group.
  - name: Execution
    description: DEPRECATED — use Agent and PaymentIntent. Retained for v0.3 transition.
    x-deprecated-superseded-by: [Agent, PaymentIntent]
  - name: Audit
    description: Tamper-evident event log and verification (Layer 6)
  - name: MCP
    description: Model Context Protocol surface for external agents
  - name: Admin
    description: Platform administration (tenant-level operations)
  - name: Auth
    description: Self-serve onboarding & human (owner) authentication (RFC 0002). Public, rate-limited; available only when BRAIN_SELF_SERVE_SIGNUP is enabled.
  - name: Docs
    description: Public, read-only API documentation surface — the interactive reference UI and the raw OpenAPI contract it renders.
  - name: Reference
    description: Public, tenant-agnostic reference data with no truth or provenance coupling.

paths:
  /docs:
    get:
      tags: [Docs]
      summary: Interactive API reference (Scalar)
      description: |
        Public HTML page rendering this OpenAPI contract as an interactive
        reference, with same-origin "Try it out". Served by the gateway; the
        renderer bundle is loaded same-origin from `/v1/docs/scalar.js` and the
        spec from `/v1/openapi.yaml`.
      operationId: getDocs
      security: [] # public
      responses:
        "200":
          description: HTML documentation page.
          content:
            text/html:
              schema:
                type: string
        '400': { $ref: '#/components/responses/BadRequest' }
  /openapi.yaml:
    get:
      tags: [Docs]
      summary: OpenAPI contract (YAML)
      description: Public, raw OpenAPI 3.1 document for this API — the source rendered by `/v1/docs`.
      operationId: getOpenApiYaml
      security: [] # public
      responses:
        "200":
          description: The OpenAPI document.
          content:
            application/yaml:
              schema:
                type: string
        '400': { $ref: '#/components/responses/BadRequest' }
  /signup:
    post:
      tags: [Auth]
      summary: Self-serve tenant signup (sandbox)
      description: |
        Public, rate-limited. Provisions a new **sandbox** tenant and its owner
        user (email + password) and issues a single-use email-verification token.
        Registered only when self-serve signup is enabled
        (`BRAIN_SELF_SERVE_SIGNUP`); otherwise the route does not exist (404).
        New tenants are sandbox-only and grant **no** execution capability — real
        money stays behind the promotion + external-audit gates (RFC 0002).
      operationId: signup
      security: [] # public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email, maxLength: 320 }
                password:
                  type: string
                  minLength: 12
                  maxLength: 4096
                  description: Stored as a scrypt hash; never logged or returned.
      responses:
        '201':
          description: Tenant + owner provisioned (owner `pending` until email verified)
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id: { type: string }
                  user_id: { type: string }
                  status: { type: string, enum: [pending] }
                  verification_token:
                    type: string
                    description: Returned only OUTSIDE production (no email provider wired yet); pass to POST /auth/verify-email.
                  verification_sent:
                    type: boolean
                    description: True in production (token emailed, not returned).
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: An account with this email already exists (signup_email_taken)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify an owner's email
      description: |
        Public, rate-limited. Consumes a single-use, short-TTL verification token
        (scoped by `tenant_id`) and activates the owner. An invalid, expired, or
        already-used token returns 400 (`signup_token_invalid`).
      operationId: verifyEmail
      security: [] # public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, token]
              properties:
                tenant_id: { type: string }
                token: { type: string }
      responses:
        '200':
          description: Email verified; owner activated
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
                  user_id: { type: string }
                  status: { type: string, enum: [active] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/login:
    post:
      tags: [Auth]
      summary: Owner password login
      description: |
        Public, rate-limited. Email + password → a short-lived owner JWT carrying
        **management / read / approve scopes only** — never `payment_intent:propose`,
        `payment_intent:execute`, or `execution:propose` (money movement is an agent
        + §6-gate concern, never a human-login capability). An unknown email and a
        wrong password return the SAME 401 (no user enumeration); an unverified
        account returns 403.
      operationId: ownerLogin
      security: [] # public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Authenticated; owner JWT issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string, enum: [Bearer] }
                  expires_in: { type: integer, description: Token lifetime in seconds. }
                  principal:
                    type: object
                    properties:
                      id: { type: string }
                      type: { type: string, enum: [user] }
                      tenantId: { type: string }
                      scopes: { type: array, items: { type: string } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/siwx/challenge:
    post:
      tags: [Auth]
      summary: Request a Sign-In With X (EIP-4361) nonce
      description: |
        Public. Issues a one-time nonce, held server-side (Redis) with a
        5-minute TTL under `session_id`. The caller embeds the nonce in the
        EIP-4361 message it asks the wallet to sign, then posts the signed
        message to POST /auth/siwx along with `session_id`.
      operationId: siwxChallenge
      security: [] # public
      responses:
        '200':
          description: Challenge issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  nonce: { type: string }
                  session_id: { type: string }
                  domain: { type: string, description: 'EIP-4361 domain claim the message must bind to, e.g. api.brain.fi' }

  /auth/siwx:
    post:
      tags: [Auth]
      summary: Sign in with a verified EIP-4361 (Sign-In With X) wallet signature
      description: |
        Public. Verifies the EIP-4361 message and signature; on success
        resolves the recovered address to a principal and issues a token:

          - A wallet linked to a human owner (RFC 0002 Phase D) mints an
            owner JWT with the same management/read/approve scopes as
            POST /auth/login, never propose/execute scopes.
          - Otherwise the address must match an `active` row in the agent
            registry (on-chain `BrainMCPAgentRegistry`-backed); the issued
            token carries `principal_type=agent` with the scope set drawn
            from the agent's registered role. An unregistered address
            returns 404 (`agent_not_found`).

        `session_id` is optional: when present, the stored nonce for that
        session must match the message's nonce (single-use, then deleted);
        when omitted, the message's own nonce is trusted as single-use.
      operationId: siwxVerify
      security: [] # public
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, signature]
              properties:
                message: { type: string, description: The EIP-4361 message text the wallet signed }
                signature: { type: string, description: Hex-encoded signature over `message` }
                session_id: { type: string, description: Session id returned by POST /auth/siwx/challenge }
      responses:
        '200':
          description: Authenticated; token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  token_type: { type: string, enum: [Bearer] }
                  expires_in: { type: integer, description: Token lifetime in seconds. Default 3600 for agent tokens. }
                  principal:
                    type: object
                    properties:
                      id: { type: string }
                      type: { type: string, enum: [user, agent] }
                      tenantId: { type: string }
                      scopes: { type: array, items: { type: string } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: SIWX session expired/missing, or the message/signature failed EIP-4361 verification. Error code `auth_siwx_invalid`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: The recovered address is not linked to a human owner and does not match an active registered agent. Error code `agent_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /tenants/{tenant_id}/wallets:
    post:
      tags: [Auth]
      summary: Link a wallet address to the tenant (RFC 0002 Phase D)
      description: |
        Owner JWT required, gated on `policy:write`. The path `tenant_id`
        must equal the authenticated principal's tenant. Once linked, the
        address can sign in via POST /auth/siwx. A human link defaults
        `principal_id` to the calling owner; an agent link must name the
        agent id explicitly. Registered only when self-serve onboarding is
        enabled.
      operationId: linkWallet
      parameters:
        - name: tenant_id
          in: path
          required: true
          schema: { type: string, pattern: '^tnt_[0-9A-HJKMNP-TV-Z]{26}$' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, principal_type]
              properties:
                address: { type: string, pattern: '^0x[0-9a-fA-F]{40}$' }
                principal_type: { type: string, enum: [human, agent] }
                principal_id:
                  type: string
                  description: Defaults to the calling owner's id when principal_type=human. Required when principal_type=agent.
      responses:
        '201':
          description: Wallet linked
          content:
            application/json:
              schema:
                type: object
                properties:
                  linked: { type: boolean, enum: [true] }
                  address: { type: string, description: Lowercased }
                  principal_type: { type: string, enum: [human, agent] }
                  principal_id: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403':
          description: |
            Missing `policy:write` scope, or the path `tenant_id` does not
            match the authenticated tenant. Error code
            `auth_scope_insufficient` or `auth_tenant_mismatch`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  #############################################################################
  # TENANCY: production tenant creation, sessions, invites
  #############################################################################

  /tenants:
    post:
      tags: [Tenancy]
      summary: Create a production tenant with its founder bootstrap admin and agent
      description: |
        Public route (`skipAuth`), gated instead by the
        `X-Platform-Service-Auth` shared secret header
        (`BRAIN_PLATFORM_SERVICE_SECRET`) — not a JWT bearer scope.
        Rate-limited to 20/minute. Creates `tenant.kind='production'`,
        one active bootstrap admin member, a `platform`-surface identity
        link for the founder, an initial member session (access +
        refresh token pair), and the tenant's propose-only BFF service
        agent token. Rejects the request outright if the demo
        provisioning header (`X-Demo-Provision-Auth`) is also present, to
        keep the demo and production tenant-creation paths from being
        conflatable.
      operationId: createTenant
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [founder, founder_external_ref]
              properties:
                company_name: { type: string }
                founder:
                  type: object
                  required: [email]
                  properties:
                    email: { type: string, format: email }
                    display_name: { type: string, description: Defaults to email if omitted. }
                founder_external_ref:
                  type: string
                  description: Platform identity reference for the founder (linked with surface:platform).
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id: { type: string }
                  member: { $ref: '#/components/schemas/Member' }
                  session:
                    type: object
                    properties:
                      token: { type: string }
                      refresh_token: { type: string }
                      expires_in: { type: integer, enum: [900] }
                  agent: { $ref: '#/components/schemas/ProductionAgentToken' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: |
            Missing/invalid `X-Platform-Service-Auth` header (error code
            `auth_token_invalid`, standard Error envelope), the platform
            secret is not configured on this deployment (error code
            `dependency_unavailable`), or the demo provisioning header
            was also present — that last case returns a bare
            `{ "reason": "platform_service_credential_required" }` body,
            NOT the standard Error envelope.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - type: object
                    properties:
                      reason: { type: string, enum: [platform_service_credential_required] }
        '429': { $ref: '#/components/responses/RateLimited' }

  /orgs/{orgId}/tenants:
    post:
      tags: [Tenancy]
      summary: Create a production tenant for an organization
      description: |
        Organization-scoped alias for `POST /tenants`. It persists a
        production tenant with the same bootstrap admin, member session, and
        propose-only agent token behavior, and echoes `org_id` in the response.
      operationId: createOrgTenant
      security: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [founder, founder_external_ref]
              properties:
                company_name: { type: string }
                founder:
                  type: object
                  required: [email]
                  properties:
                    email: { type: string, format: email }
                    display_name: { type: string }
                founder_external_ref: { type: string }
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                type: object
                properties:
                  org_id: { type: string }
                  tenant_id: { type: string }
                  member: { $ref: '#/components/schemas/Member' }
                  session:
                    type: object
                    properties:
                      token: { type: string }
                      refresh_token: { type: string }
                      expires_in: { type: integer, enum: [900] }
                  agent: { $ref: '#/components/schemas/ProductionAgentToken' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Missing or invalid platform credential.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /tenants/{tenantId}/agent-token:
    post:
      tags: [Tenancy]
      summary: Return or rotate a production tenant's propose-only agent token
      description: |
        Public route (`skipAuth`), gated instead by the
        `X-Platform-Service-Auth` shared secret header with the
        `tenant:agent-mint` operational scope. Production-only. Returns the
        active BFF service agent token when one exists, or mints one when no
        active token exists. Pass `{ "rotate": true }` to revoke the prior
        token id and mint a replacement. The token is a
        `principal_type=agent` JWT using the shared service-token propose-only
        scope set. It cannot approve, execute, sign, administer, or resolve as
        a member.
      operationId: mintProductionAgentToken
      security: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string, pattern: '^tnt_[0-9A-HJKMNP-TV-Z]{26}$' }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                rotate:
                  type: boolean
                  default: false
                  description: Revoke the active token id before minting a replacement.
      responses:
        '200':
          description: Existing active token returned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProductionAgentToken' }
        '201':
          description: Agent token minted or rotated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProductionAgentToken' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Missing/invalid platform credential, or the platform secret is not configured. Error code `auth_token_invalid` or `dependency_unavailable`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Tenant is not production. Error code `auth_scope_insufficient`, details.reason `production_agent_required`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Tenant does not exist. Error code `tenant_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /sessions:
    post:
      tags: [Tenancy]
      summary: Exchange a platform identity for a member session
      description: |
        Public route (`skipAuth`), gated by `X-Platform-Service-Auth`.
        Rate-limited to 60/minute. Resolves `external_ref` to a member
        via its `platform`-surface identity link; the member must be
        `status: active`. Optional `scopes` may request a reduced
        subset of the member session entitlements. The server rejects
        any scope the member session does not hold and never widens
        privilege.
      operationId: createSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [external_ref]
              properties:
                external_ref: { type: string }
                scopes:
                  type: array
                  items: { type: string }
                  description: Optional reduced scope subset for the access token.
      responses:
        '200':
          description: Session issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  refresh_token: { type: string }
                  expires_in: { type: integer, enum: [900] }
                  scopes:
                    type: array
                    items: { type: string }
                    description: Scopes granted to the access token and refresh family.
                  member: { $ref: '#/components/schemas/Member' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Missing/invalid platform credential, or the platform secret is not configured. Error code `auth_token_invalid` or `dependency_unavailable`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: 'No member is linked to this external_ref, or the linked member is not active. Returns `{ "reason": "session_identity_unlinked" }`, NOT the standard Error envelope.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason: { type: string, enum: [session_identity_unlinked] }
        '429': { $ref: '#/components/responses/RateLimited' }
    delete:
      tags: [Tenancy]
      summary: Revoke the caller's member refresh tokens
      description: |
        Requires a `user`-type JWT principal (standard bearer auth, no
        platform credential). Revokes every non-revoked refresh token
        for the calling member; does not invalidate the current access
        token, which remains valid until it expires.
      operationId: deleteSession
      responses:
        '200':
          description: Refresh tokens revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked: { type: boolean, enum: [true] }
        '403':
          description: Caller is not a user-type principal. Error code `payment_intent_approval_invalid`, `details.reason=actor_unresolved`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /sessions/refresh:
    post:
      tags: [Tenancy]
      summary: Rotate a refresh token for a new access + refresh token pair
      description: |
        Public route (`skipAuth`) — no platform credential or bearer
        token required, only the refresh token itself. Rate-limited to
        60/minute. Refresh tokens are single-use: a token that has
        already been rotated once is treated as reuse (potential theft)
        and revokes the entire token family. Optional `scopes` may
        further narrow the stored refresh-family scope set, but may not
        request a scope outside that set.
      operationId: refreshSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
                scopes:
                  type: array
                  items: { type: string }
                  description: Optional further reduced scope subset for the rotated token.
      responses:
        '200':
          description: New token pair issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  refresh_token: { type: string }
                  expires_in: { type: integer, enum: [900] }
                  scopes:
                    type: array
                    items: { type: string }
                    description: Scopes granted to the rotated access token and refresh family.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: |
            Refresh token is unknown, revoked, or expired, or it was
            already rotated once before (reuse — the entire token family
            is revoked as a side effect of this response). Error code
            `auth_token_invalid`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /invites/consume:
    post:
      tags: [Tenancy]
      summary: Consume a member invite token and open a session
      description: |
        Public route (`skipAuth`), gated by `X-Platform-Service-Auth`.
        Rate-limited to 60/minute. Links the platform `external_ref` to
        the invited member, activates the member (`status: invited` ->
        `active`), marks the invite consumed, and issues an initial
        member session. `display_name` overrides the member's display
        name if provided.
      operationId: consumeInvite
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invite_token, external_ref]
              properties:
                invite_token: { type: string }
                external_ref: { type: string }
                display_name: { type: string }
      responses:
        '200':
          description: Invite consumed; member activated and session issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id: { type: string }
                  member: { $ref: '#/components/schemas/Member' }
                  session:
                    type: object
                    properties:
                      token: { type: string }
                      refresh_token: { type: string }
                      expires_in: { type: integer, enum: [900] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Missing/invalid platform credential, or the platform secret is not configured. Error code `auth_token_invalid` or `dependency_unavailable`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: |
            Invite token is unknown (`{ "reason": "invite_invalid" }`,
            NOT the standard Error envelope), or it was found but is
            blocked: error code `invite_expired`, `invite_consumed`, or
            `invite_revoked` (standard Error envelope for these three).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - type: object
                    properties:
                      reason: { type: string, enum: [invite_invalid] }
        '429': { $ref: '#/components/responses/RateLimited' }

  /tenants/{tenantId}/keys:
    post:
      tags: [Tenancy]
      summary: Issue a Brain API key
      description: |
        Requires an authenticated same-tenant admin session. Generates a
        `brain_sk_test_...` or `brain_sk_live_...` secret, stores only
        SHA-256 over `BRAIN_API_KEY_PEPPER + "." + secret`, and returns the
        plaintext secret exactly once. Current API-key scopes are
        `ledger:read` and `audit:read`.
      operationId: issueApiKey
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string, pattern: '^tnt_[0-9A-HJKMNP-TV-Z]{26}$' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, environment, scopes]
              properties:
                name: { type: string, description: Developer-supplied key label. }
                environment: { type: string, enum: [sandbox, live] }
                scopes:
                  type: array
                  items: { type: string, enum: ['ledger:read', 'audit:read'] }
      responses:
        '201':
          description: API key issued; plaintext key returned exactly once
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  tenant_id: { type: string }
                  name: { type: string }
                  environment: { type: string, enum: [sandbox, live] }
                  scopes: { type: array, items: { type: string } }
                  key_prefix: { type: string }
                  key_last4: { type: string }
                  masked_key: { type: string }
                  created_at: { type: string, format: date-time }
                  last_used_at: { type: [string, "null"], format: date-time }
                  revoked_at: { type: [string, "null"], format: date-time }
                  rotated_from_id: { type: [string, "null"] }
                  secret: { type: string, description: 'Plaintext key. Shown only in this response.' }
        '400':
          description: Invalid body. Error code `request_body_invalid`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Principal is not a same-tenant admin. Error code `auth_scope_insufficient` or `auth_tenant_mismatch`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Tenant does not exist. Error code `tenant_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      tags: [Tenancy]
      summary: List Brain API keys
      description: |
        Requires an authenticated same-tenant admin session. Returns masked
        key metadata only. The plaintext secret is never returned by this
        endpoint.
      operationId: listApiKeys
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string, pattern: '^tnt_[0-9A-HJKMNP-TV-Z]{26}$' }
      responses:
        '200':
          description: API keys for the tenant
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        tenant_id: { type: string }
                        name: { type: string }
                        environment: { type: string, enum: [sandbox, live] }
                        scopes: { type: array, items: { type: string } }
                        key_prefix: { type: string }
                        key_last4: { type: string }
                        masked_key: { type: string }
                        created_at: { type: string, format: date-time }
                        last_used_at: { type: [string, "null"], format: date-time }
                        revoked_at: { type: [string, "null"], format: date-time }
                        rotated_from_id: { type: [string, "null"] }
        '403':
          description: Principal is not a same-tenant admin.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /keys/{keyId}/rotate:
    post:
      tags: [Tenancy]
      summary: Rotate a Brain API key
      description: |
        Requires an authenticated same-tenant admin session. Atomically revokes
        the old key and issues a replacement with the same name, environment,
        and scopes. Returns the new plaintext secret exactly once.
      operationId: rotateApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema: { type: string, pattern: '^akey_[0-9A-HJKMNP-TV-Z]{26}$' }
      responses:
        '201':
          description: Key rotated; replacement secret returned exactly once
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '403':
          description: Principal is not a same-tenant admin.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Key does not exist or is not active. Error code `api_key_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /keys/{keyId}:
    delete:
      tags: [Tenancy]
      summary: Revoke a Brain API key
      description: |
        Requires an authenticated same-tenant admin session. Sets
        `revoked_at`; keys are never hard-deleted.
      operationId: revokeApiKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema: { type: string, pattern: '^akey_[0-9A-HJKMNP-TV-Z]{26}$' }
      responses:
        '204':
          description: Key revoked (or already revoked)
        '403':
          description: Principal is not a same-tenant admin.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Key does not exist. Error code `api_key_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /tenants/{tenantId}/usage:
    get:
      tags: [Tenancy]
      summary: Aggregate per-key usage
      description: |
        Requires `audit:read` for the same tenant. Counts attributed audit
        events over the requested window and optionally filters by environment
        and key id.
      operationId: getTenantUsage
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string, pattern: '^tnt_[0-9A-HJKMNP-TV-Z]{26}$' }
        - name: window
          in: query
          required: false
          schema: { type: string, default: 30d }
        - name: environment
          in: query
          required: false
          schema: { type: string, enum: [sandbox, live] }
        - name: key_id
          in: query
          required: false
          schema: { type: string, pattern: '^akey_[0-9A-HJKMNP-TV-Z]{26}$' }
      responses:
        '200':
          description: Usage counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant_id: { type: string }
                  window: { type: string }
                  environment: { type: string }
                  key_id: { type: string }
                  total_events: { type: integer }
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        key_id: { type: string }
                        environment: { type: [string, "null"] }
                        event_count: { type: integer }
                        first_event_at: { type: [string, "null"], format: date-time }
                        last_event_at: { type: [string, "null"], format: date-time }
        '403':
          description: Principal lacks tenant access or `audit:read`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  #############################################################################
  # LAYER 1: RAW
  #############################################################################

  /raw/ingest:
    post:
      tags: [Raw]
      summary: Ingest a financial artifact
      description: |
        Requires `raw:write`. Accepts a financial artifact via direct
        upload or URL reference. Content is stored immutably with SHA-256
        content addressing. Duplicate artifacts (same tenant, same
        SHA-256) return the existing raw_id.
      operationId: ingestRaw
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [source_type, file]
              properties:
                source_type:
                  $ref: '#/components/schemas/RawSourceType'
                source_ref:
                  type: object
                  description: Source-specific identifiers (e.g. Plaid transaction ID)
                  additionalProperties: true
                file:
                  type: string
                  format: binary
                  description: The artifact content. Max 50 MB.
                mime_type:
                  type: string
                  description: Override auto-detected MIME type
                source_schema:
                  type: string
                  maxLength: 128
                  description: >
                    Declared payload schema tag (e.g. acme_bank.transactions.v1).
                    Stored verbatim, never parsed at intake. An unknown schema
                    still ingests and waits for a parser.
                object_type:
                  type: string
                  maxLength: 128
                  description: Provider object type the payload describes (e.g. invoice)
                external_id:
                  type: string
                  maxLength: 256
                  description: Provider-side id of the described object
                operation:
                  type: string
                  enum: [upsert, delete, snapshot]
                  description: What the source asserts this artifact does to the object
                effective_at:
                  type: string
                  format: date-time
                  description: When the fact applied in the real world
                observed_at:
                  type: string
                  format: date-time
                  description: When the source exposed the fact
                idempotency_key:
                  type: string
                  maxLength: 256
                  description: >
                    Caller idempotency key (connection:resource:object:version).
                    Unique per tenant; a re-send with different bytes still dedups.
          application/json:
            schema:
              type: object
              required: [source_type, url]
              properties:
                source_type:
                  $ref: '#/components/schemas/RawSourceType'
                source_ref:
                  type: object
                  additionalProperties: true
                url:
                  type: string
                  format: uri
                  description: URL to fetch (server-side). Must be HTTPS.
                auth_header:
                  type: string
                  description: Optional Authorization header value for the fetch
                source_schema:
                  type: string
                  maxLength: 128
                  description: >
                    Declared payload schema tag (e.g. acme_bank.transactions.v1).
                    Stored verbatim, never parsed at intake.
                object_type:
                  type: string
                  maxLength: 128
                external_id:
                  type: string
                  maxLength: 256
                operation:
                  type: string
                  enum: [upsert, delete, snapshot]
                effective_at:
                  type: string
                  format: date-time
                observed_at:
                  type: string
                  format: date-time
                idempotency_key:
                  type: string
                  maxLength: 256
      responses:
        '201':
          description: Artifact ingested (new)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawIngestResponse'
        '200':
          description: Artifact already exists (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawIngestResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /raw/webhooks/{provider}:
    post:
      tags: [Raw]
      summary: Webhook ingestion from a known provider
      description: |
        HMAC-authenticated webhook endpoint (`skipAuth`; the provider
        signature replaces bearer auth). Only `plaid` has signature
        verification always wired; `stripe` verifies when
        `stripeVerify` credentials are configured, else 501.
        `alchemy`, `netsuite`, and `generic_hmac` are enum placeholders
        with no wired verification yet and also return 501.
      operationId: ingestWebhook
      security: []  # HMAC signature replaces bearer auth
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [plaid, stripe, alchemy, netsuite, generic_hmac]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provider-specific payload
      responses:
        '202':
          description: Webhook accepted for async processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted: { type: boolean }
                  trace_id: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Signature verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Provider has no wired signature verification (stripe without configured credentials, alchemy, netsuite, generic_hmac).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /raw/{raw_id}:
    get:
      tags: [Raw]
      summary: Retrieve a raw artifact
      description: |
        Requires `raw:read`. Returns a short-lived signed URL (10 minute
        expiry) pointing at the artifact in Azure Blob Storage. The
        artifact itself is served with Content-Disposition: attachment.
      operationId: getRaw
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '200':
          description: Signed URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw_id: { type: string, pattern: '^[a-z]+_[0-9A-HJKMNP-TV-Z]{26}$' }
                  sha256: { type: string, pattern: '^[a-f0-9]{64}$' }
                  signed_url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
                  mime_type: { type: string }
                  bytes: { type: integer, minimum: 0 }
        '404':
          description: No such artifact. Error code `raw_artifact_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '410':
          description: Artifact has been tombstoned. Error code `raw_artifact_tombstoned`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [Raw]
      summary: Tombstone a raw artifact
      description: |
        Requires `raw:admin` (not `raw:write`). Writes a tombstone record.
        The underlying artifact is retained in storage per regulatory
        retention policy but becomes inaccessible via the API and is
        filtered from all Wiki derivations.
      operationId: tombstoneRaw
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '204':
          description: Tombstoned
        '404':
          description: No such artifact. Error code `raw_artifact_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '410':
          description: 'Already tombstoned. Returns `{ raw_id, tombstoned: true }`, not the Error schema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw_id: { type: string }
                  tombstoned: { type: boolean, enum: [true] }

  /raw/{raw_id}/extract:
    post:
      tags: [Raw]
      summary: Trigger document extraction for a raw artifact
      description: |
        Requires `raw:write`. Enqueues or re-enqueues an async document
        extraction job for the referenced artifact. The request never calls the
        document extraction agent inline. A terminal succeeded job for the same
        raw artifact and content hash is reused.
      operationId: extractRawDocument
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '200':
          description: Document extraction job accepted or reused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawExtractionJob'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '410':
          description: Artifact has been tombstoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Artifact cannot be extracted by the document agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /raw/{raw_id}/extraction:
    get:
      tags: [Raw]
      summary: Get latest document extraction job status
      description: |
        Requires `raw:read`. Returns the latest async extraction job for the
        artifact. If no job exists, returns `extraction_job_not_found`.
      operationId: getRawDocumentExtraction
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '200':
          description: Latest document extraction job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawExtractionJob'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /raw/{raw_id}/parsed:
    get:
      tags: [Raw]
      summary: Retrieve parsed output for an artifact
      description: Requires `raw:read`. Returns normalized output from all parser versions.
      operationId: getRawParsed
      parameters:
        - $ref: '#/components/parameters/RawId'
        - name: parser
          in: query
          schema:
            type: string
          description: Filter to a specific parser
        - name: parser_version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Parsed output
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw_id: { type: string, pattern: '^[a-z]+_[0-9A-HJKMNP-TV-Z]{26}$' }
                  parsed:
                    type: array
                    items:
                      $ref: '#/components/schemas/RawParsed'
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Raw]
      summary: Write a parsed (stage-3) record for an artifact
      description: >
        Requires `raw:write`. Records one parser-output row for the
        referenced artifact. Called by extraction workers and first-party
        extractor agents (e.g. document_extractor); it is the stage-3
        producer of `raw_parsed`. Naturally idempotent on the
        (raw_artifact_id, parser, parser_version) tuple: re-posting the
        same tuple returns the existing row with 200. Writing into Ledger
        remains the Ledger normalize service's job; this endpoint never
        touches Ledger.
      operationId: writeRawParsed
      parameters:
        - $ref: '#/components/parameters/RawId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parser, parser_version, extracted]
              properties:
                parser: { type: string, minLength: 1, maxLength: 128 }
                parser_version: { type: string, minLength: 1, maxLength: 64 }
                extracted:
                  type: object
                  additionalProperties: true
                confidence: { type: number, minimum: 0, maximum: 1 }
      responses:
        '201':
          description: Parsed record created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RawParsed' }
        '200':
          description: Parsed record already existed (idempotent re-post)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RawParsed' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: No such artifact. Error code `raw_artifact_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '410':
          description: Artifact has been tombstoned. Error code `raw_artifact_tombstoned`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /sources:
    post:
      tags: [Raw]
      summary: Connect a source
      description: |
        Connects a source connector for this tenant. Idempotent (config:
        `idempotent: true`). Requires `raw:write`.
      operationId: connectSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, credentials]
              properties:
                type: { $ref: '#/components/schemas/SourceType' }
                credentials:
                  type: object
                  additionalProperties: true
                  description: Adapter-specific credentials, validated per connector. Never echoed back in responses.
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Source connected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Source' }
        '400': { $ref: '#/components/responses/BadRequest' }
    get:
      tags: [Raw]
      summary: List connected sources
      description: |
        Requires `raw:read`. Cursor pagination is keyset-based and opaque.
        Pass the previous response `next_cursor` unchanged to fetch the next
        page. Malformed cursors return `invalid_cursor`.
      operationId: listSources
      parameters:
        - name: type
          in: query
          schema: { $ref: '#/components/schemas/SourceType' }
        - name: status
          in: query
          schema: { type: string, enum: [active, paused, error, disconnected] }
        - name: limit
          in: query
          schema: { type: integer }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Source list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Source' }
                  next_cursor: { type: [string, "null"] }
        '400': { $ref: '#/components/responses/BadRequest' }

  /sources/{source_id}:
    get:
      tags: [Raw]
      summary: Get a source
      description: Requires `raw:read`.
      operationId: getSource
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Source
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Source' }
        '404':
          description: No such source. Error code `source_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [Raw]
      summary: Disconnect a source
      description: Requires `raw:write`. Marks the source disconnected; does not delete previously ingested artifacts.
      operationId: disconnectSource
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Source disconnected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Source' }
        '404':
          description: No such source. Error code `source_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /sources/{source_id}/sync:
    post:
      tags: [Raw]
      summary: Trigger a sync for a source
      description: |
        Requires `raw:write`. Stub connectors (netsuite, email_inbound,
        csv_upload, pdf_upload, alchemy_wallet, eth_address) return
        immediately with `notes: "stub"` rather than performing a real sync.
        The returned `job_id` can be polled with
        `GET /sources/{source_id}/sync/{job_id}`.
      operationId: syncSource
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '202':
          description: Sync enqueued or running
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SourceSyncJob' }
        '404':
          description: No such source. Error code `source_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /sources/{source_id}/sync/{job_id}:
    get:
      tags: [Raw]
      summary: Get source sync job status
      description: Requires `raw:read`. Returns the tenant-scoped status for a source sync job.
      operationId: getSourceSyncJob
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
        - name: job_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Sync job status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SourceSyncJob' }
        '404':
          description: No such source or sync job. Error code `source_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  #############################################################################
  # LAYER 2: LEDGER
  #############################################################################

  /ledger/accounts:
    get:
      tags: [Ledger]
      summary: List accounts
      description: |
        Requires `ledger:read`. Cursor pagination is keyset-based and
        opaque. Pass `next_cursor` unchanged to fetch the next page.
      operationId: listAccounts
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, closed, frozen, pending]
        - name: account_type
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items: { $ref: '#/components/schemas/Account' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/accounts/{account_id}:
    get:
      tags: [Ledger]
      summary: Account detail
      description: Requires `ledger:read`.
      operationId: getAccount
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Account detail with most recent balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  account: { $ref: '#/components/schemas/Account' }
                  latest_balance: { $ref: '#/components/schemas/Balance' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/balances:
    get:
      tags: [Ledger]
      summary: Point-in-time balances
      description: Requires `ledger:read`.
      operationId: listBalances
      parameters:
        - name: account_id
          in: query
          schema: { type: string }
        - name: as_of
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Balance list
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items: { $ref: '#/components/schemas/Balance' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/transactions:
    get:
      tags: [Ledger]
      summary: List transactions
      description: |
        Requires `ledger:read`. Cursor pagination is keyset-based and
        opaque. Pass `next_cursor` unchanged to fetch the next page.
      operationId: listTransactions
      parameters:
        - name: account_id
          in: query
          schema: { type: string }
        - name: counterparty_id
          in: query
          schema: { type: string }
        - name: direction
          in: query
          schema: { type: string, enum: [inflow, outflow, transfer, adjustment] }
        - name: status
          in: query
          schema: { type: string, enum: [pending, posted, cleared, failed, reversed, disputed] }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items: { $ref: '#/components/schemas/Transaction' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/transactions/{transaction_id}:
    get:
      tags: [Ledger]
      summary: Transaction detail
      description: Requires `ledger:read`.
      operationId: getTransaction
      parameters:
        - name: transaction_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/counterparties:
    get:
      tags: [Ledger]
      summary: List/search counterparties
      description: |
        Requires `ledger:read`. Cursor pagination is keyset-based and
        opaque. Pass `next_cursor` unchanged to fetch the next page.
      operationId: listCounterparties
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema:
            type: string
            enum: [merchant, vendor, customer, employer, employee, bank, wallet, exchange, tax_authority, agent, other]
        - name: verified_status
          in: query
          schema:
            type: string
            enum: [unverified, self_attested, document_verified, sanctions_cleared]
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Counterparty list
          content:
            application/json:
              schema:
                type: object
                properties:
                  counterparties:
                    type: array
                    items: { $ref: '#/components/schemas/Counterparty' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
    post:
      tags: [Ledger]
      summary: Manually create or merge a counterparty
      description: |
        Requires `ledger:write`. Identity-only: payment rail fields (IBAN,
        account number, routing, SWIFT, BIC, wallet, bank details) are
        rejected with `payment_fields_not_allowed`, never written. Unknown
        body fields return `unknown_field`; server-controlled trust fields
        (`provenance`, `confidence`, `verified_status`, `risk_level`)
        return `field_not_editable`. Provenance is derived from the
        principal, not the request body: user principals write
        `human_confirmed`, agent and API partner principals write
        `agent_contributed`.
      operationId: createCounterparty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name: { type: string }
                display_name: { type: string }
                type:
                  type: string
                  enum: [merchant, vendor, customer, employer, employee, bank, wallet, exchange, tax_authority, agent, other]
                country: { type: string }
                tax_id: { type: string }
                category: { type: string }
                contact_email: { type: string }
                aliases:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Counterparty created
          content:
            application/json:
              schema:
                type: object
                properties:
                  counterparty: { $ref: '#/components/schemas/Counterparty' }
                  created: { type: boolean }
                  merged: { type: boolean }
        '200':
          description: Existing counterparty merged
          content:
            application/json:
              schema:
                type: object
                properties:
                  counterparty: { $ref: '#/components/schemas/Counterparty' }
                  created: { type: boolean }
                  merged: { type: boolean }
        '400':
          description: |
            Error code `request_body_invalid`; `details.reason` is one of
            `payment_fields_not_allowed`, `unknown_field`, `field_not_editable`
            (each with `details.fields` listing the offending keys), or
            `invalid_type`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /ledger/counterparties/{counterparty_id}:
    get:
      tags: [Ledger]
      summary: Counterparty detail
      description: Requires `ledger:read`.
      operationId: getCounterparty
      parameters:
        - name: counterparty_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Counterparty
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Counterparty' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Ledger]
      summary: Edit counterparty identity fields
      description: |
        Requires `ledger:write` and a user principal (agent and API
        partner principals are rejected). Identity-only, same field
        restrictions as create: payment rail fields return
        `payment_fields_not_allowed`, unknown fields return
        `unknown_field`, server-controlled trust fields return
        `field_not_editable`. Renaming preserves the previous name as an
        alias; aliases are append-only.
      operationId: updateCounterpartyIdentity
      parameters:
        - name: counterparty_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                display_name: { type: string }
                country: { type: string }
                tax_id: { type: string }
                category: { type: string }
                contact_email: { type: string }
                aliases:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Counterparty updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  counterparty: { $ref: '#/components/schemas/Counterparty' }
        '400':
          description: |
            Error code `request_body_invalid`; `details.reason` is one of
            `payment_fields_not_allowed`, `unknown_field`, or
            `field_not_editable` (with `details.fields` listing the
            offending keys).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Caller is not a user principal. Error code `payment_intent_approval_invalid`, `details.reason=actor_unresolved`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Rename conflicts with another counterparty. Error code `ledger_reconciliation_conflict`, `details.reason=name_conflict`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /ledger/obligations:
    get:
      tags: [Ledger]
      summary: List obligations (bills, invoices, subscriptions)
      description: |
        Requires `ledger:read`. Cursor pagination is keyset-based and
        opaque. Pass `next_cursor` unchanged to fetch the next page.
      operationId: listObligations
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [upcoming, due, paid, overdue, cancelled, disputed] }
        - name: type
          in: query
          schema: { type: string }
        - name: due_before
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Obligation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  obligations:
                    type: array
                    items: { $ref: '#/components/schemas/Obligation' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/obligations/{obligation_id}/resolved:
    get:
      tags: [Ledger]
      summary: Resolved cross-source view of an obligation (observations, authority, conflicts)
      description: |
        Requires `ledger:read`. The reconciled fact for one obligation:
        every source observation retained, field-level authority (which
        source owns each field), conflicts listed where sources disagree,
        and duplicate candidates pending user review. The "explain this
        number, including where sources disagree" surface (Phase 4
        resolution / §13).
      operationId: resolveObligation
      parameters:
        - name: obligation_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Resolved obligation view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedObligationView' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/counterparties/{counterparty_id}/resolved:
    get:
      tags: [Ledger]
      summary: Resolved organization view of a counterparty (linked observations, facets)
      description: |
        Requires `ledger:read`. The reconciled organization for one
        counterparty: linked observations across sources/types unioned
        into facets, name variants listed, and duplicate candidates
        pending user review (Phase 4 resolution / §13).
      operationId: resolveCounterparty
      parameters:
        - name: counterparty_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Resolved counterparty view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedCounterpartyView' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/accounts/{account_id}/resolved:
    get:
      tags: [Ledger]
      summary: Resolved money-pool view of an account (per-observation balances, links)
      description: |
        Requires `ledger:read`. The reconciled money pool for one account:
        balances reported per observation (never adjudicated),
        confirmed-duplicate links followed, candidates pending user
        review. Account duplicates never auto-match (Phase 4 / §13), so
        member links here are human-confirmed.
      operationId: resolveAccount
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Resolved account view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ResolvedAccountView' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/invoices:
    get:
      tags: [Ledger]
      summary: List invoices
      description: |
        Requires `ledger:read`. Cursor pagination is keyset-based and
        opaque. Pass `next_cursor` unchanged to fetch the next page.
      operationId: listInvoices
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: counterparty_id
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Invoice list
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items: { $ref: '#/components/schemas/Invoice' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/invoices/{invoice_id}:
    get:
      tags: [Ledger]
      summary: Invoice detail
      description: Requires `ledger:read`.
      operationId: getInvoice
      parameters:
        - name: invoice_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Invoice
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invoice' }
        '404': { $ref: '#/components/responses/NotFound' }
  /ledger/normalize:
    post:
      tags: [Ledger]
      summary: Idempotently normalize a Raw artifact into Ledger rows
      description: |
        Requires `ledger:write`. Normalizes a raw_parsed row into Ledger
        entities. Idempotent: re-running with the same input returns the
        same Ledger row ids. Used by the extractor pipeline and by
        /wiki/annotate's write-through path.
      operationId: normalizeRaw
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [raw_parsed_id]
              properties:
                raw_parsed_id: { type: string }
                target_entities:
                  type: array
                  description: Optional restriction; default is all relevant entities
                  items:
                    type: string
                    enum: [account, balance, transaction, counterparty, obligation, document, category, transfer, invoice]
      responses:
        '200':
          description: Normalization result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ledger_rows_created:
                    type: array
                    items:
                      type: object
                      properties:
                        entity: { type: string }
                        id: { type: string }

        '400': { $ref: '#/components/responses/BadRequest' }
  /ledger/reconcile:
    post:
      tags: [Ledger]
      summary: Run the reconciliation engine over recent ledger rows
      description: Requires `ledger:write`.
      operationId: runReconciliation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                since:
                  type: string
                  format: date-time
                match_types:
                  type: array
                  items:
                    type: string
                    enum: [transaction_receipt, invoice_payment, statement_balance, wallet_transfer, payroll_bank_debit, subscription_charge, card_charge]
      responses:
        '202':
          description: Reconciliation enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }

        '400': { $ref: '#/components/responses/BadRequest' }
        '501':
          description: ReconciliationService not configured for this app instance. Error code `raw_source_unsupported`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /ledger/reconciliation-matches:
    get:
      tags: [Ledger]
      summary: List reconciliation matches
      description: Requires `ledger:read`.
      operationId: listReconciliationMatches
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: match_type
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Match list
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items: { $ref: '#/components/schemas/ReconciliationMatch' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /ledger/cash_flows:
    get:
      tags: [Ledger]
      summary: Cash-flow aggregation over a trailing window
      description: |
        Requires `ledger:read`. Aggregates transactions in the trailing
        `days` window (default 30, max 365) by currency and by day. Pulls
        up to 1000 transactions per request; very high-volume tenants may
        not see the full window reflected (no cursor pagination yet).
      operationId: getCashFlows
      parameters:
        - name: days
          in: query
          schema: { type: integer, default: 30, minimum: 1, maximum: 365 }
        - name: currency
          in: query
          schema: { type: string, pattern: '^[A-Z]{3}$' }
      responses:
        '200':
          description: Cash-flow summary
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CashFlowSummary' }
        '400':
          description: Malformed `currency`. Error code `request_params_invalid`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  #############################################################################
  # LAYER 3: WIKI (memory)
  #############################################################################

  # Wiki memory pages — derived from Ledger + Raw, regenerable on demand.
  /memory/pages:
    get:
      tags: [Wiki]
      summary: List/search wiki pages
      description: Requires `wiki:read`.
      operationId: listMemoryPages
      parameters:
        - name: page_type
          in: query
          schema:
            type: string
            enum: [account, counterparty, obligation, invoice, agent, policy, monthly_summary, cash_flow]
        - name: q
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        '200':
          description: Page list
          content:
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: array
                    items: { $ref: '#/components/schemas/WikiPage' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /memory/pages/{slug_or_id}:
    get:
      tags: [Wiki]
      summary: Get a single wiki page
      description: Requires `wiki:read`.
      operationId: getMemoryPage
      parameters:
        - name: slug_or_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WikiPage' }
        '404':
          description: No such page. Error code `wiki_page_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /memory/regenerate:
    post:
      tags: [Wiki]
      summary: Regenerate a wiki page from current Ledger state
      description: |
        Despite being a POST, requires only `wiki:read` (not `wiki:write`)
        — regeneration re-derives the page from existing Ledger/Raw state
        rather than writing new source-of-truth data.
      operationId: regenerateMemoryPage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug_or_id]
              properties:
                slug_or_id: { type: string }
      responses:
        '200':
          description: Regenerated page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WikiPage' }

        '400': { $ref: '#/components/responses/BadRequest' }
  /memory/search:
    get:
      tags: [Wiki]
      summary: Semantic + lexical search across wiki pages
      description: Requires `wiki:read`.
      operationId: searchMemory
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        page: { $ref: '#/components/schemas/WikiPage' }
                        score: { type: number }

        '400': { $ref: '#/components/responses/BadRequest' }
  /wiki/entity/{entity_id}:
    get:
      tags: [Wiki]
      summary: Fetch an entity with one-hop neighbors
      description: Requires `wiki:read`.
      operationId: getWikiEntity
      parameters:
        - $ref: '#/components/parameters/EntityId'
        - name: include_neighbors
          in: query
          schema: { type: boolean, default: true }
        - name: as_of
          in: query
          schema: { type: string, format: date-time }
          description: Bitemporal query. If omitted, current state.
      responses:
        '200':
          description: Entity and neighbors
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity:
                    $ref: '#/components/schemas/WikiEntity'
                  neighbors:
                    type: array
                    items:
                      type: object
                      properties:
                        relation: { $ref: '#/components/schemas/WikiRelation' }
                        entity: { $ref: '#/components/schemas/WikiEntity' }
        '404':
          description: No such entity. Error code `wiki_entity_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /wiki/entity/{entity_id}/evidence:
    get:
      tags: [Wiki]
      summary: Retrieve the evidence chain for an entity
      description: |
        Requires `wiki:read`. Returns the full provenance chain: every
        raw_parsed record and extraction path that produced this entity
        and its attributes.
      operationId: getEntityEvidence
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Evidence chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceChain'

        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: No versions found for this entity. Error code `wiki_entity_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /wiki/entity/{entity_id}/history:
    get:
      tags: [Wiki]
      summary: All temporal versions of an entity
      description: Requires `wiki:read`.
      operationId: getEntityHistory
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id: { type: string, pattern: '^[a-z]+_[0-9A-HJKMNP-TV-Z]{26}$' }
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WikiEntity'

        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: No versions found for this entity. Error code `wiki_entity_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /wiki/search:
    get:
      tags: [Wiki]
      summary: Search the Wiki
      description: Requires `wiki:read`.
      operationId: searchWiki
      parameters:
        - name: kind
          in: query
          schema: { $ref: '#/components/schemas/EntityKind' }
        - name: q
          in: query
          schema: { type: string }
          description: Full-text query over entity attributes
        - name: semantic
          in: query
          schema: { type: string }
          description: Semantic query using pgvector embeddings
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/WikiEntity' }
                  next_cursor: { type: [string, "null"] }

        '400': { $ref: '#/components/responses/BadRequest' }
  /wiki/question:
    post:
      tags: [Wiki]
      summary: Natural-language question against the Wiki
      description: |
        Requires `wiki:read`. Translates a natural-language question into
        a set of SQL queries against the Wiki, executes them, and
        composes an answer with an evidence path attached. This is the
        LLM-in-hot-path endpoint. Costs apply per call; see pricing
        documentation.
      operationId: askWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question:
                  type: string
                  minLength: 1
                  maxLength: 2000
                as_of:
                  type: string
                  format: date-time
                  description: Evaluate against the Wiki as of this time
                max_evidence_depth:
                  type: integer
                  default: 3
                  maximum: 5
      responses:
        '200':
          description: Answer with evidence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WikiAnswer'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /wiki/annotate:
    post:
      tags: [Wiki]
      summary: Human correction on an entity or relation
      description: |
        Requires `wiki:write`. Submits a structured correction. Corrections
        are applied as a new temporal version with
        provenance=human_confirmed. The original version is retained.
        Rate-limited per (tenant, principal): 60/hour by default
        (`WIKI_ANNOTATION_RATE_PER_HOUR`), checked before any write.
      operationId: annotateWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/EntityAnnotation'
                - $ref: '#/components/schemas/RelationAnnotation'
      responses:
        '201':
          description: Annotation applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  annotation_id: { type: string, pattern: '^[a-z]+_[0-9A-HJKMNP-TV-Z]{26}$' }
                  new_version_id: { type: string, pattern: '^[a-z]+_[0-9A-HJKMNP-TV-Z]{26}$' }

        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: 'entity_id was provided but no such entity exists. Error code `wiki_entity_not_found`.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Annotation rate limit exceeded. Error code `rate_limit_exceeded`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /wiki/schema:
    get:
      tags: [Wiki]
      summary: Retrieve current JSON schemas per entity and relation kind
      description: Requires `wiki:read`.
      operationId: getWikiSchema
      parameters:
        - name: kind
          in: query
          schema: { type: string }
      responses:
        '200':
          description: JSON schemas
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: JSON Schema document for the kind
                  type: object
        '400': { $ref: '#/components/responses/BadRequest' }

  #############################################################################
  # LAYER 4: POLICY
  #############################################################################

  /policy/{tenant_id}:
    get:
      tags: [Policy]
      summary: Get the active policy for a tenant
      description: |
        Requires `policy:read`. The path `tenant_id` must equal the
        authenticated principal's tenant (cross-tenant reads are rejected
        with `auth_tenant_mismatch`, not 404).
      operationId: getActivePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Active policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '403':
          description: Path `tenant_id` does not match the authenticated tenant. Error code `auth_tenant_mismatch`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: No active policy for this tenant. Error code `policy_not_found`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /policy/{tenant_id}/versions:
    get:
      tags: [Policy]
      summary: List policy versions
      description: Requires `policy:read` and matching path/token tenant.
      operationId: listPolicyVersions
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items: { $ref: '#/components/schemas/Policy' }

        '400': { $ref: '#/components/responses/BadRequest' }
        '403':
          description: Path `tenant_id` does not match the authenticated tenant. Error code `auth_tenant_mismatch`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /policy/{tenant_id}/compose:
    post:
      tags: [Policy]
      summary: Compose a new policy, returns signing payload
      description: |
        Requires `policy:write` and matching path/token tenant. Validates
        the proposed policy against the DSL schema, inserts it in `draft`
        state, transitions it to `pending_signatures`, and returns an
        EIP-712 typed-data signing payload. Caller then signs with the
        appropriate keys and submits via /sign.
      operationId: composePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  $ref: '#/components/schemas/PolicyDSL'
                quorum_required: { type: integer, default: 1 }
      responses:
        '200':
          description: Signing payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  policy_id: { type: string }
                  state: { type: string, enum: [pending_signatures] }
                  signing_payload:
                    description: EIP-712 typed data document to sign
                    type: object
        '400':
          description: '`content` must be `{ version: number, rules: [] }`. Error code `policy_rule_invalid`.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: Path `tenant_id` does not match the authenticated tenant. Error code `auth_tenant_mismatch`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /policy/{tenant_id}/sign:
    post:
[...]
