openapi: 3.1.0
info:
  title: Brain API
  version: 0.3.0
  description: |
    The Brain API exposes six layers as HTTP endpoints plus one MCP surface.
    Raw (evidence), Ledger (normalized financial truth), Wiki (memory),
    Policy (governance), Agent (action orchestration), Audit (proof).

    v0.2.0 introduces the Normalized Ledger layer. The Wiki API is preserved
    but its role narrows to memory rendering and Q&A — financial truth lives
    in the Ledger. The Execution endpoints are renamed to Agent endpoints;
    legacy /execution/* paths remain shipped with deprecation headers for
    the duration of the v0.3 transition.

    v0.3.0 aligns the spec to the canonical public docs at
    https://docs.brain.fi. Material changes land in small commits — see
    docs/sdk-audit.md for the reconciliation queue. This release aligns
    the error envelope to the docs shape (`{ error: { code, message,
    details, trace_id, docs_url } }`); the v0.2 flat shape is replaced.

    All endpoints are tenant-scoped. Tenant identity is derived from the
    authenticated principal. The principal's tenant is never passed in URLs
    except where explicitly required for cross-tenant operations by platform
    administrators.

    Base URL (production): https://api.brain.fi/v1
    Base URL (sandbox):    https://api.brain.dev/v1
    Protocol: HTTPS only. HTTP requests are rejected at the edge.
    Content type: application/json unless otherwise specified.
    Character encoding: UTF-8.
    Time: all timestamps are RFC 3339 UTC (example: 2026-04-23T11:45:00Z).
  contact:
    name: Brain Finance Inc.
    url: https://brain.fi
    email: api@brain.fi
  license:
    name: Proprietary

servers:
  - url: https://api.brain.fi/v1
    description: Production
  - url: https://api.brain.dev/v1
    description: Sandbox (Base Sepolia behind the audit anchor)

security:
  - bearerAuth: []

tags:
  - name: Sources
    description: |
      Source-connection lifecycle — connect/list/get/disconnect/sync.
      Adapter-facing surface that feeds the Raw ingestion layer.
      Source: https://docs.brain.fi/api-reference/sources-api.
  - name: Raw
    description: Immutable ingestion of financial evidence (Layer 1)
  - name: Ledger
    description: Normalized financial truth — accounts, balances, transactions, counterparties, obligations, invoices, documents, transfers, reconciliation matches (Layer 2)
  - name: Wiki
    description: Human-readable memory pages, search, Q&A. Pages are derived from Ledger + Raw (Layer 3)
  - name: Policy
    description: Rule composition, signing, evaluation against Ledger state (Layer 4)
  - name: Agent
    description: Agent registration and action orchestration (Layer 5). Replaces the v0.1 Execution group; legacy /execution/* paths still resolve.
  - name: Action
    description: |
      v0.3 unified write-path for financial actions — propose, list,
      approve, reject, execute, cancel. Replaces the v0.2 PaymentIntent
      surface. Always passes the deterministic §6 13-step pre-execution
      gate. Source: https://docs.brain.fi/api-reference/actions-api.
  - name: PaymentIntent
    description: |
      DEPRECATED in v0.3 — use Action. The /payment-intents/* operations
      remain shipped behind a deprecation header for the duration of the
      v0.3 transition; new integrations target /actions/*.
    x-deprecated-superseded-by: [Action]
  - name: Execution
    description: DEPRECATED — use Agent and Action. Retained for v0.3 transition.
    x-deprecated-superseded-by: [Agent, Action]
  - name: Audit
    description: Tamper-evident event log and verification (Layer 6)
  - name: MCP
    description: Model Context Protocol surface for external agents
  - name: Admin
    description: Platform administration (tenant-level operations)

paths:

  #############################################################################
  # AUTH — external-agent sign-in via SIWX (PLAN-FIRST #15)
  #
  # Source: https://docs.brain.fi/api-reference/authentication and
  # https://docs.brain.fi/products/brain-api ("For SIWX flow,
  # authentication occurs via POST /v1/auth/siwx").
  #
  # Internal services and human users continue to authenticate via the
  # existing /auth/nonce + /auth/verify SIWE flow at services/api/src/
  # auth/siwe.ts. SIWX is the *agent-specific* path: the signing address
  # must match a registered agent in BrainMCPAgentRegistry, scopes are
  # drawn from the agent's on-chain attestation, and the issued token
  # carries principal_type=agent.
  #############################################################################

  /auth/siwx/challenge:
    post:
      tags: [Admin]
      security: []  # public — no bearer token required
      summary: Request a SIWX challenge nonce
      description: |
        Issues a fresh nonce and `session_id` the agent should echo back
        on `POST /auth/siwx`. The nonce is bound to a 5-minute TTL and
        is single-use. Optional path; clients may also provide their own
        nonce inside the SIWX message.
      operationId: siwxChallenge
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_address:
                  type: string
                  pattern: '^0x[a-fA-F0-9]{40}$'
                  description: |
                    Optional hint — the server may use it to pre-fetch
                    the agent's registration record so the verify call
                    is faster.
      responses:
        '200':
          description: Challenge issued
          content:
            application/json:
              schema:
                type: object
                required: [nonce, session_id, domain]
                properties:
                  nonce: { type: string, minLength: 8 }
                  session_id: { type: string }
                  domain:
                    type: string
                    description: |
                      The EIP-4361 `domain` claim the agent must include
                      in its signed message. Defaults to `api.brain.fi`.

  /auth/siwx:
    post:
      tags: [Admin]
      security: []  # public — caller is unauthenticated until verify succeeds
      summary: Sign in as an external agent via SIWX
      description: |
        Verifies an EIP-4361-formatted message signed with the agent's
        registered key, checks the agent is `active` in the local
        `agents` table and that its `scope_hash` matches the on-chain
        `BrainMCPAgentRegistry` record, then issues an `agent_token`
        JWT (1-hour TTL, refreshable by re-signing).

        v0.3 ship verifies the signature and shape; the on-chain
        scope-hash check is stubbed until the registry contract
        integration lands (see PLAN-FIRST #14b).
      operationId: siwxVerify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, signature]
              properties:
                message:
                  type: string
                  description: EIP-4361 SIWX message in plain text.
                signature:
                  type: string
                  pattern: '^0x[a-fA-F0-9]+$'
                session_id:
                  type: string
                  description: |
                    The session id returned by /auth/siwx/challenge.
                    Required when the message's nonce was not pre-shared
                    out-of-band.
      responses:
        '200':
          description: Verified — agent_token issued
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in, principal]
                properties:
                  access_token:
                    type: string
                    description: |
                      Brain agent JWT. Use as
                      `Authorization: Bearer <access_token>` on
                      subsequent calls.
                  token_type:
                    type: string
                    enum: [Bearer]
                  expires_in:
                    type: integer
                    description: Seconds until token expiry.
                  principal:
                    type: object
                    properties:
                      id: { type: string }
                      type: { type: string, enum: [agent] }
                      tenantId: { type: string }
                      scopes:
                        type: array
                        items: { type: string }
        '401':
          description: |
            Signature verification or agent registration check failed.
            Maps to one of:
              * `auth_siwx_invalid` — signature did not recover to the
                expected address, or the nonce was expired/already used.
              * `agent_not_found` — recovered address is not registered.
              * `agent_inactive` — agent is registered but not in
                `active` state.
              * `scope_hash_mismatch` — JWT scope_hash would not match
                the on-chain registry value.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  #############################################################################
  # SOURCES — source-connection lifecycle (PLAN-FIRST #12)
  #
  # Adapter-facing routes that the Brain Console and SDK call to manage
  # ingestion connections. Each row in `raw_sources` represents one
  # active connection to a provider (Plaid bank, Stripe processor, etc.).
  # Sources feed `/raw/ingest` behind the scenes — webhooks land in
  # `/raw/webhooks/{provider}`, polled adapters call `/raw/ingest`
  # internally.
  #
  # Source: https://docs.brain.fi/api-reference/sources-api.
  #############################################################################

  /sources:
    post:
      tags: [Sources]
      summary: Connect a new source
      operationId: connectSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenantId, type, credentials]
              properties:
                tenantId: { type: string }
                type: { $ref: '#/components/schemas/SourceType' }
                credentials:
                  type: object
                  additionalProperties: true
                  description: |
                    Provider-specific credentials. Schema depends on
                    `type` — e.g. Plaid expects `{access_token}`,
                    Stripe `{api_key}`. Server validates per adapter.
                metadata:
                  type: object
                  additionalProperties: true
                  description: |
                    Optional caller labels (e.g. `{label: "operating
                    account"}`). Stored verbatim and returned with the
                    Source record.
      responses:
        '201':
          description: Source connected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Source' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Provider rejected credentials (`source_credential_invalid`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    get:
      tags: [Sources]
      summary: List sources
      operationId: listSources
      parameters:
        - name: tenantId
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema: { $ref: '#/components/schemas/SourceType' }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/SourceStatus' }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Source list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Source' }
                  next_cursor:
                    type: string
                    nullable: true

  /sources/{source_id}:
    get:
      tags: [Sources]
      summary: Get a single source
      operationId: getSource
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Source
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Source' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Sources]
      summary: Disconnect a source
      description: |
        Marks the source `disconnected`. Ingestion stops immediately;
        historical Raw artifacts are retained per the tenant's
        retention policy and remain queryable via /raw/*.
      operationId: disconnectSource
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Disconnected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Source' }
        '404': { $ref: '#/components/responses/NotFound' }

  /sources/{source_id}/sync:
    post:
      tags: [Sources]
      summary: Trigger an immediate sync
      description: |
        Queues a manual sync. Returns the sync job descriptor; the job
        runs asynchronously and emits new `/raw/ingest` rows as data
        arrives. Stub-mode source types accept the call but return
        `{notes: "stub"}` instead of running real adapter logic.
      operationId: syncSource
      parameters:
        - name: source_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '202':
          description: Sync enqueued
          content:
            application/json:
              schema:
                type: object
                required: [job_id, status]
                properties:
                  job_id: { type: string }
                  source_id: { type: string }
                  status:
                    type: string
                    enum: [enqueued, running]
                  notes:
                    type: string
                    description: |
                      Present and set to `"stub"` when the underlying
                      adapter is not yet implemented (csv_upload,
                      pdf_upload, email_inbound, netsuite,
                      alchemy_wallet, eth_address in v0.3 ship).

  #############################################################################
  # LAYER 1: RAW
  #############################################################################

  /raw/ingest:
    post:
      tags: [Raw]
      summary: Ingest a financial artifact
      description: |
        Accepts a financial artifact via direct upload or URL reference.
        Content is stored immutably with SHA-256 content addressing.
        Duplicate artifacts (same tenant, same SHA-256) return the existing raw_id.
      operationId: ingestRaw
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [source_type, file]
              properties:
                source_type:
                  $ref: '#/components/schemas/RawSourceType'
                source_ref:
                  type: object
                  description: Source-specific identifiers (e.g. Plaid transaction ID)
                  additionalProperties: true
                file:
                  type: string
                  format: binary
                  description: The artifact content. Max 50 MB.
                mime_type:
                  type: string
                  description: Override auto-detected MIME type
          application/json:
            schema:
              type: object
              required: [source_type, url]
              properties:
                source_type:
                  $ref: '#/components/schemas/RawSourceType'
                source_ref:
                  type: object
                  additionalProperties: true
                url:
                  type: string
                  format: uri
                  description: URL to fetch (server-side). Must be HTTPS.
                auth_header:
                  type: string
                  description: Optional Authorization header value for the fetch
      responses:
        '201':
          description: Artifact ingested (new)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawIngestResponse'
        '200':
          description: Artifact already exists (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawIngestResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /raw/webhooks/{provider}:
    post:
      tags: [Raw]
      summary: Webhook ingestion from a known provider
      description: |
        HMAC-authenticated webhook endpoint. Each provider has a pre-registered
        signing secret. Request is rejected if the provider signature header
        does not verify. Provider-specific.
      operationId: ingestWebhook
      security: []  # HMAC signature replaces bearer auth
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [plaid, stripe, alchemy, netsuite, generic_hmac]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Provider-specific payload
      responses:
        '202':
          description: Webhook accepted for async processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted: { type: boolean }
                  trace_id: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Signature verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /raw/{raw_id}:
    get:
      tags: [Raw]
      summary: Retrieve a raw artifact
      description: |
        Returns a short-lived signed URL (10 minute expiry) pointing at the
        artifact in Azure Blob Storage. The artifact itself is served with
        Content-Disposition: attachment.
      operationId: getRaw
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '200':
          description: Signed URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw_id: { type: string, format: uuid }
                  sha256: { type: string, pattern: '^[a-f0-9]{64}$' }
                  signed_url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }
                  mime_type: { type: string }
                  bytes: { type: integer, minimum: 0 }
        '404': { $ref: '#/components/responses/NotFound' }
        '410':
          description: Artifact has been tombstoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [Raw]
      summary: Tombstone a raw artifact
      description: |
        Writes a tombstone record. The underlying artifact is retained in
        storage per regulatory retention policy but becomes inaccessible
        via the API and is filtered from all Wiki derivations.
      operationId: tombstoneRaw
      parameters:
        - $ref: '#/components/parameters/RawId'
      responses:
        '204':
          description: Tombstoned
        '404': { $ref: '#/components/responses/NotFound' }
        '410':
          description: Already tombstoned

  /raw/{raw_id}/parsed:
    get:
      tags: [Raw]
      summary: Retrieve parsed output for an artifact
      description: Returns normalized output from all parser versions.
      operationId: getRawParsed
      parameters:
        - $ref: '#/components/parameters/RawId'
        - name: parser
          in: query
          schema:
            type: string
          description: Filter to a specific parser
        - name: parser_version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Parsed output
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw_id: { type: string, format: uuid }
                  parsed:
                    type: array
                    items:
                      $ref: '#/components/schemas/RawParsed'
        '404': { $ref: '#/components/responses/NotFound' }

  #############################################################################
  # LAYER 2: LEDGER
  #############################################################################

  /ledger/accounts:
    get:
      tags: [Ledger]
      summary: List accounts
      operationId: listAccounts
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, closed, frozen, pending]
        - name: account_type
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items: { $ref: '#/components/schemas/Account' }
                  next_cursor: { type: string, nullable: true }

  /ledger/accounts/{account_id}:
    get:
      tags: [Ledger]
      summary: Account detail
      operationId: getAccount
      parameters:
        - name: account_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Account detail with most recent balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  account: { $ref: '#/components/schemas/Account' }
                  latest_balance: { $ref: '#/components/schemas/Balance' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/balances:
    get:
      tags: [Ledger]
      summary: Point-in-time balances
      operationId: listBalances
      parameters:
        - name: account_id
          in: query
          schema: { type: string }
        - name: as_of
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Balance list
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items: { $ref: '#/components/schemas/Balance' }

  /ledger/transactions:
    get:
      tags: [Ledger]
      summary: List transactions
      operationId: listTransactions
      parameters:
        - name: account_id
          in: query
          schema: { type: string }
        - name: counterparty_id
          in: query
          schema: { type: string }
        - name: direction
          in: query
          schema: { type: string, enum: [inflow, outflow, transfer, adjustment] }
        - name: status
          in: query
          schema: { type: string, enum: [pending, posted, cleared, failed, reversed, disputed] }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items: { $ref: '#/components/schemas/Transaction' }
                  next_cursor: { type: string, nullable: true }

  /ledger/transactions/{transaction_id}:
    get:
      tags: [Ledger]
      summary: Transaction detail
      operationId: getTransaction
      parameters:
        - name: transaction_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Transaction
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transaction' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ledger/counterparties:
    get:
      tags: [Ledger]
      summary: List/search counterparties
      operationId: listCounterparties
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: type
          in: query
          schema:
            type: string
            enum: [merchant, vendor, customer, employer, bank, wallet, exchange, tax_authority, other]
        - name: verified_status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Counterparty list
          content:
            application/json:
              schema:
                type: object
                properties:
                  counterparties:
                    type: array
                    items: { $ref: '#/components/schemas/Counterparty' }

  /ledger/obligations:
    get:
      tags: [Ledger]
      summary: List obligations (bills, invoices, subscriptions)
      operationId: listObligations
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [upcoming, due, paid, overdue, cancelled, disputed] }
        - name: type
          in: query
          schema: { type: string }
        - name: due_before
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Obligation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  obligations:
                    type: array
                    items: { $ref: '#/components/schemas/Obligation' }

  /ledger/invoices:
    get:
      tags: [Ledger]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: counterparty_id
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Invoice list
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items: { $ref: '#/components/schemas/Invoice' }

  /ledger/normalize:
    post:
      tags: [Ledger]
      summary: Idempotently normalize a Raw artifact into Ledger rows
      description: |
        Normalizes a raw_parsed row (or a raw_artifact_id + parser tuple) into
        Ledger entities. Idempotent: re-running with the same input returns
        the same Ledger row ids. Used by the extractor pipeline and by
        /wiki/annotate's write-through path.
      operationId: normalizeRaw
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [raw_parsed_id]
              properties:
                raw_parsed_id: { type: string }
                target_entities:
                  type: array
                  description: Optional restriction; default is all relevant entities
                  items:
                    type: string
                    enum: [account, balance, transaction, counterparty, obligation, document, category, transfer, invoice]
      responses:
        '200':
          description: Normalization result
          content:
            application/json:
              schema:
                type: object
                properties:
                  ledger_rows_created:
                    type: array
                    items:
                      type: object
                      properties:
                        entity: { type: string }
                        id: { type: string }

  /ledger/reconcile:
    post:
      tags: [Ledger]
      summary: Run the reconciliation engine over recent ledger rows
      operationId: runReconciliation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                since:
                  type: string
                  format: date-time
                match_types:
                  type: array
                  items:
                    type: string
                    enum: [transaction_receipt, invoice_payment, statement_balance, wallet_transfer, payroll_bank_debit, subscription_charge, card_charge]
      responses:
        '202':
          description: Reconciliation enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }

  /ledger/reconciliation-matches:
    get:
      tags: [Ledger]
      summary: List reconciliation matches
      operationId: listReconciliationMatches
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - name: match_type
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Match list
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items: { $ref: '#/components/schemas/ReconciliationMatch' }

  /ledger/cash_flows:
    get:
      tags: [Ledger]
      summary: Cash-flow aggregation over a recent window
      description: |
        Aggregates `ledger_transactions` over the requested window and
        returns inflow/outflow totals plus a per-day breakdown. Used by
        the SDK's `brain.cashFlow.summarize` and the
        `brain.snapshot(tenantId)` convenience composition. Source:
        https://docs.brain.fi/api-reference/ledger-api ("cash flows").
      operationId: summarizeCashFlow
      parameters:
        - name: tenantId
          in: query
          schema: { type: string }
        - name: days
          in: query
          description: Window size, ending now. Default 30, max 365.
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 365
        - name: currency
          in: query
          description: |
            When set, restrict aggregation to transactions in this
            currency. When omitted, the response groups by currency
            (each currency is its own series).
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
      responses:
        '200':
          description: Cash flow summary
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CashFlowSummary' }

  #############################################################################
  # LAYER 3: WIKI (memory)
  #############################################################################

  # Wiki memory pages — derived from Ledger + Raw, regenerable on demand.
  /memory/pages:
    get:
      tags: [Wiki]
      summary: List/search wiki pages
      operationId: listMemoryPages
      parameters:
        - name: page_type
          in: query
          schema:
            type: string
            enum: [account, counterparty, obligation, invoice, agent, policy, monthly_summary, cash_flow]
        - name: q
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        '200':
          description: Page list
          content:
            application/json:
              schema:
                type: object
                properties:
                  pages:
                    type: array
                    items: { $ref: '#/components/schemas/WikiPage' }

  /memory/pages/{slug_or_id}:
    get:
      tags: [Wiki]
      summary: Get a single wiki page
      operationId: getMemoryPage
      parameters:
        - name: slug_or_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WikiPage' }
        '404': { $ref: '#/components/responses/NotFound' }

  /memory/regenerate:
    post:
      tags: [Wiki]
      summary: Regenerate a wiki page from current Ledger state
      operationId: regenerateMemoryPage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug_or_id]
              properties:
                slug_or_id: { type: string }
      responses:
        '200':
          description: Regenerated page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WikiPage' }

  /memory/search:
    get:
      tags: [Wiki]
      summary: Semantic + lexical search across wiki pages
      operationId: searchMemory
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        page: { $ref: '#/components/schemas/WikiPage' }
                        score: { type: number }

  /wiki/entities/{entity_id}:
    get:
      tags: [Wiki]
      summary: Fetch an entity with one-hop neighbors
      description: |
        Source: https://docs.brain.fi/api-reference/wiki-api ("Get Entity").
        Path renamed from /wiki/entity/{entity_id} (singular) in v0.3 to
        match the docs.
      operationId: getWikiEntity
      parameters:
        - $ref: '#/components/parameters/EntityId'
        - name: include_neighbors
          in: query
          schema: { type: boolean, default: true }
        - name: as_of
          in: query
          schema: { type: string, format: date-time }
          description: Bitemporal query. If omitted, current state.
      responses:
        '200':
          description: Entity and neighbors
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity:
                    $ref: '#/components/schemas/WikiEntity'
                  neighbors:
                    type: array
                    items:
                      type: object
                      properties:
                        relation: { $ref: '#/components/schemas/WikiRelation' }
                        entity: { $ref: '#/components/schemas/WikiEntity' }
        '404': { $ref: '#/components/responses/NotFound' }

  /wiki/entities/{entity_id}/relationships:
    get:
      tags: [Wiki]
      summary: Walk one-hop relationships from an entity
      description: |
        Source: https://docs.brain.fi/api-reference/wiki-api ("Walk
        Relationships"). Traverses connected entities. Equivalent to
        calling GET /wiki/entities/{id}?include_neighbors=true, but
        returns the relations[] array directly without wrapping the
        subject entity. New in v0.3.
      operationId: getEntityRelationships
      parameters:
        - $ref: '#/components/parameters/EntityId'
        - name: relationship
          in: query
          schema: { $ref: '#/components/schemas/RelationKind' }
          description: Filter to a single relationship kind.
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        '200':
          description: Relationships
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id: { type: string, format: uuid }
                  relationships:
                    type: array
                    items:
                      type: object
                      properties:
                        relation: { $ref: '#/components/schemas/WikiRelation' }
                        entity: { $ref: '#/components/schemas/WikiEntity' }
        '404': { $ref: '#/components/responses/NotFound' }

  /wiki/entities/{entity_id}/evidence:
    get:
      tags: [Wiki]
      summary: Retrieve the evidence chain for an entity
      description: |
        Returns the full provenance chain: every raw_parsed record and
        extraction path that produced this entity and its attributes.
      operationId: getEntityEvidence
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Evidence chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvidenceChain'

  /wiki/entities/{entity_id}/history:
    get:
      tags: [Wiki]
      summary: All temporal versions of an entity
      operationId: getEntityHistory
      parameters:
        - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id: { type: string, format: uuid }
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WikiEntity'

  /wiki/search:
    post:
      tags: [Wiki]
      summary: Search the Wiki
      description: |
        Source: https://docs.brain.fi/api-reference/wiki-api ("Search
        Entities"). Method changed from GET to POST in v0.3 — the
        request body carries a structured query payload that exceeds
        what's ergonomic in query-string form.
      operationId: searchWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: Full-text query over entity attributes.
                kind:
                  $ref: '#/components/schemas/EntityKind'
                since:
                  type: string
                  format: date-time
                until:
                  type: string
                  format: date-time
                limit:
                  type: integer
                  default: 50
                  maximum: 500
                cursor:
                  type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/WikiEntity' }
                  next_cursor: { type: string, nullable: true }

  /wiki/semantic_search:
    post:
      tags: [Wiki]
      summary: Free-text semantic search over Wiki pages and entities
      description: |
        Source: https://docs.brain.fi/api-reference/wiki-api ("Semantic
        Search"). New in v0.3 — split from /wiki/search to make the
        retrieval mode explicit in the URL rather than via a `semantic`
        query parameter. Returns entities ranked by pgvector cosine
        similarity. Use /wiki/search for lexical match.
      operationId: semanticSearchWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: Natural-language phrase or sentence to embed.
                kind:
                  $ref: '#/components/schemas/EntityKind'
                limit:
                  type: integer
                  default: 20
                  maximum: 100
                min_score:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: |
                    Drop results below this cosine similarity score.
                    Default is implementation-defined.
      responses:
        '200':
          description: Ranked results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        entity: { $ref: '#/components/schemas/WikiEntity' }
                        score: { type: number, minimum: 0, maximum: 1 }

  /wiki/question:
    post:
      tags: [Wiki]
      summary: Natural-language question against the Wiki
      description: |
        Translates a natural-language question into a set of SQL queries
        against the Wiki, executes them, and composes an answer with an
        evidence path attached. This is the LLM-in-hot-path endpoint.
        Costs apply per call; see pricing documentation.
      operationId: askWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question:
                  type: string
                  minLength: 1
                  maxLength: 2000
                as_of:
                  type: string
                  format: date-time
                  description: Evaluate against the Wiki as of this time
                max_evidence_depth:
                  type: integer
                  default: 3
                  maximum: 5
      responses:
        '200':
          description: Answer with evidence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WikiAnswer'
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /wiki/annotate:
    post:
      tags: [Wiki]
      summary: Human correction on an entity or relation
      description: |
        Submits a structured correction. Corrections are applied as a new
        temporal version with provenance=human_confirmed. The original
        version is retained.
      operationId: annotateWiki
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/EntityAnnotation'
                - $ref: '#/components/schemas/RelationAnnotation'
      responses:
        '201':
          description: Annotation applied
          content:
            application/json:
              schema:
                type: object
                properties:
                  annotation_id: { type: string, format: uuid }
                  new_version_id: { type: string, format: uuid }

  /wiki/schema:
    get:
      tags: [Wiki]
      summary: Retrieve current JSON schemas per entity and relation kind
      operationId: getWikiSchema
      parameters:
        - name: kind
          in: query
          schema: { type: string }
      responses:
        '200':
          description: JSON schemas
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: JSON Schema document for the kind
                  type: object

  #############################################################################
  # LAYER 4: POLICY
  #############################################################################

  /policy/{tenant_id}:
    get:
      tags: [Policy]
      summary: Get the active policy for a tenant
      operationId: getActivePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Active policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '404': { $ref: '#/components/responses/NotFound' }

  /policy/{tenant_id}/versions:
    get:
      tags: [Policy]
      summary: List policy versions
      operationId: listPolicyVersions
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items: { $ref: '#/components/schemas/Policy' }

  /policy/{tenant_id}/compose:
    post:
      tags: [Policy]
      summary: Compose a new policy, returns signing payload
      description: |
        Validates the proposed policy against the DSL schema. Returns an
        EIP-712 typed-data signing payload. Caller then signs with the
        appropriate keys and submits via /sign.
      operationId: composePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyDSL'
      responses:
        '200':
          description: Signing payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  content_hash: { type: string, pattern: '^0x[a-f0-9]{64}$' }
                  typed_data:
                    description: EIP-712 typed data document to sign
                    type: object
                  required_signers:
                    type: array
                    items: { type: string }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /policy/{tenant_id}/sign:
    post:
      tags: [Policy]
      summary: Submit signatures for a composed policy
      operationId: signPolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content_hash, signatures]
              properties:
                content_hash: { type: string }
                signatures:
                  type: array
                  items:
                    type: object
                    properties:
                      signer: { type: string, description: Signer address }
                      signature: { type: string }
      responses:
        '201':
          description: Policy activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '409':
          description: Insufficient signatures
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /policy/{tenant_id}/evaluate:
    post:
      tags: [Policy]
      summary: Evaluate a proposed action against active policy
      operationId: evaluatePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposedAction'
      responses:
        '200':
          description: Decision and trace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDecision'

  /policy/{tenant_id}/simulate:
    post:
      tags: [Policy]
      summary: Replay an action against a historical policy version
      operationId: simulatePolicy
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, version]
              properties:
                action: { $ref: '#/components/schemas/ProposedAction' }
                version: { type: integer }
      responses:
        '200':
          description: Decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDecision'

  #############################################################################
  # LAYER 5: AGENT (action orchestration; legacy /execution/* paths retained)
  #
  # New integrations should target /agents/* and /payment-intents/*.
  # The /execution/* paths below are equivalent (alias routing in the API
  # gateway) and remain shipped during the v0.3 transition. They carry a
  # `Deprecation` response header. Tag: Execution (deprecated).
  #############################################################################

  /agents:
    get:
      tags: [Agent]
      summary: List agents configured for the tenant
      operationId: listAgents
      responses:
        '200':
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items: { $ref: '#/components/schemas/Agent' }

  /agents/{agent_id}:
    get:
      tags: [Agent]
      summary: Agent detail
      operationId: getAgent
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Agent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /agents/{agent_id}/propose:
    post:
      tags: [Agent]
      summary: Agent proposes a non-financial action
      operationId: proposeAgentAction
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: object }
      responses:
        '201':
          description: Proposal created with policy decision attached
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposal_id: { type: string }
                  policy_decision_id: { type: string }
                  status: { type: string }

  /agents/{agent_id}/actions:
    get:
      tags: [Agent]
      summary: Recent actions/proposals for an agent
      operationId: listAgentActions
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
      responses:
        '200':
          description: Action list
          content:
            application/json:
              schema:
                type: object
                properties:
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        proposal_id: { type: string }
                        payment_intent_id: { type: string, nullable: true }
                        status: { type: string }
                        created_at: { type: string, format: date-time }

  /agents/register:
    post:
      tags: [Agent]
      summary: Register an external agent
      operationId: registerAgent
      description: |
        Replaces the legacy POST /execution/agents/register. Persists the
        agent in `pending_onchain` until the BrainMCPAgentRegistry tx
        confirms.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, role, display_name]
              properties:
                agent_id: { type: string }
                role: { type: string }
                display_name: { type: string }
                scope_hash: { type: string, pattern: '^[0-9a-f]{64}$' }
                onchain_address: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
                registered_tx: { type: string }
      responses:
        '201':
          description: Agent registered (pending_onchain)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  /agents/mcp:
    post:
      tags: [Agent, MCP]
      summary: MCP JSON-RPC entry for external agents
      description: |
        Single-shot HTTP transport for the Brain MCP (Model Context
        Protocol) surface. The request body is a JSON-RPC 2.0 envelope;
        the response is a JSON-RPC 2.0 envelope (always HTTP 200 unless
        the transport itself fails — application-level errors are
        carried inside the `error` field).

        Authentication: standard Brain JWT bearer with
        `principal_type=agent`. The MCP server additionally verifies
        (a) the agent record is `active`, (b) the JWT's `scope_hash`
        matches the on-chain hash registered in
        `BrainMCPAgentRegistry`, and (c) tenant equality. Failures map
        to JSON-RPC error codes in the -32001..-32005 range — see
        `McpErrorCode`.

        Supported methods (v0.3):
          * `initialize`, `ping`
          * `tools/list`, `tools/call` — 10 tools across ledger, wiki,
            raw evidence, payment intents, and agent action proposals
          * `resources/list`, `resources/read` — 5 resource templates
            (ledger accounts/transactions/payment-intents, wiki pages,
            raw evidence)
          * `prompts/list`, `prompts/get` — 5 canned prompts

        Tools enforce per-call scopes (e.g. `ledger:read`,
        `payment_intent:propose`). `tools/list` returns the full
        registry regardless of scope; `tools/call` is the gate.
        See `docs/mcp-architecture.md` for the full surface.
      operationId: agentMcpEntry
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/JsonRpcRequest' }
      responses:
        '200':
          description: |
            JSON-RPC envelope. On success, `result` carries the method
            result. On failure, `error.code` is one of the standard
            JSON-RPC codes (-32600..-32603) or a Brain-specific MCP
            code (-32001..-32005).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JsonRpcResponse' }

  #############################################################################
  # v0.3 CANONICAL ACTION SURFACE (/v1/actions/*)
  #
  # User-facing write-path for financial actions. Source:
  # https://docs.brain.fi/api-reference/actions-api. Internally backed
  # by PaymentIntentService; the route layer translates storage
  # vocabularies to the docs vocabulary on every response.
  #############################################################################

  /actions:
    post:
      tags: [Action]
      summary: Propose an action
      description: |
        Creates an Action (internally a PaymentIntent row) and attaches
        the PolicyDecision. On `decision === "ALLOW"` the action is
        auto-approved and ready for `/execute`; on `"ESCALATE"` it
        waits in `status === "needs_approval"`; on `"DENY"` it is
        terminal in `status === "rejected"`.
      operationId: createAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenantId, type]
              properties:
                tenantId: { type: string }
                agent_id:
                  type: string
                  description: |
                    Proposing agent. Required when the caller is an
                    agent principal; the server falls back to the
                    auth context if omitted.
                type:
                  type: string
                  description: |
                    Free-form action type (e.g. `pay_invoice`,
                    `outbound_payment`, `onchain_transfer`,
                    `erp_writeback`, `card_payment`). The policy DSL
                    `applies_to` clause gates each value.
                # Convenience shorthand: caller passes either `invoiceId`
                # OR an explicit destination + amount.
                invoiceId:
                  type: string
                  description: |
                    When set, the server populates source account /
                    destination / amount / currency from the linked
                    ledger_invoices row.
                to:
                  type: object
                  properties:
                    counterparty_id: { type: string }
                amount:
                  type: string
                  pattern: '^\d+(\.\d+)?$'
                currency:
                  type: string
                  pattern: '^[A-Z]{3}$'
                source_account_id: { type: string }
                memo:
                  type: string
                  maxLength: 500
                evidence_ids:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Action created with policy decision attached
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Action' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }

    get:
      tags: [Action]
      summary: List actions
      operationId: listActions
      parameters:
        - name: tenantId
          in: query
          schema: { type: string }
        - name: agent_id
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/ActionStatus' }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 500 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Action list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Action' }
                  next_cursor:
                    type: string
                    nullable: true

  /actions/{action_id}:
    get:
      tags: [Action]
      summary: Get a single action with its PolicyDecision + audit trail
      operationId: getAction
      parameters:
        - name: action_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Action
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Action' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Action]
      summary: Cancel a proposed action
      description: |
        Only Actions in `status === "needs_approval"` (or pre-approval
        `auto`) can be cancelled. Cancellation is a terminal state.
      operationId: cancelAction
      parameters:
        - name: action_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Cancelled action
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Action' }
        '409':
          description: Action not in a cancellable state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /actions/{action_id}/approve:
    post:
      tags: [Action]
      summary: Sign approval on an ESCALATE action
      operationId: approveAction
      parameters:
        - name: action_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                as:
                  type: string
                  description: |
                    Approver identity reference (e.g. `user_cfo`,
                    `role:treasurer`). Default: the caller's principal id.
                approver_role:
                  type: string
                  description: Role context for the approval.
                signature:
                  type: string
                  description: |
                    Hex-encoded EIP-712 signature when the policy is
                    on-chain-registered. Optional for off-chain policies.
      responses:
        '200':
          description: Updated action (approval recorded; status may transition to `approved`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Action' }

  /actions/{action_id}/reject:
    post:
      tags: [Action]
      summary: Reject an action
      operationId: rejectAction
      parameters:
        - name: action_id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                as: { type: string }
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Rejected action
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Action' }

  /actions/{action_id}/execute:
    post:
      tags: [Action]
      summary: Execute an approved action through its rail
      description: |
        Runs the deterministic 13-step pre-execution gate (§6 of
        Engineering Standards) before dispatching to the rail. On any
        gate failure returns 422 with one of the `gate_*` error codes
        (see https://docs.brain.fi/resources/errors).
      operationId: executeAction
      parameters:
        - name: action_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '202':
          description: Dispatched to rail
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_id: { type: string }
                  execution_id: { type: string }
                  rail: { $ref: '#/components/schemas/ActionRail' }
                  status:
                    type: string
                    enum: [dispatched, in_flight]
        '422':
          description: Pre-execution gate failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  #############################################################################
  # v0.2 PAYMENT INTENTS (deprecated — use /actions/* above)
  #############################################################################

  /payment-intents:
    post:
      tags: [PaymentIntent]
      deprecated: true
      summary: '[Deprecated] Create a PaymentIntent — use POST /actions'
      description: |
        Deprecated in v0.3. Successor: `POST /v1/actions`. Equivalent
        behavior; the new route uses the docs Action body shape.
      operationId: createPaymentIntent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action_type, source_account_id, destination_counterparty_id, amount, currency]
              properties:
                action_type:
                  type: string
                  enum: [ach_outbound, ach_inbound, wire, onchain_transfer, erp_writeback, card_payment]
                source_account_id: { type: string }
                destination_counterparty_id: { type: string }
                amount: { type: string, pattern: '^\d+(\.\d+)?$' }
                currency: { type: string, pattern: '^[A-Z]{3}$' }
                obligation_id: { type: string }
                invoice_id: { type: string }
                agent_id: { type: string }
                evidence_ids:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: PaymentIntent created with PolicyDecision attached
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /payment-intents/{id}:
    get:
      tags: [PaymentIntent]
      deprecated: true
      summary: '[Deprecated] PaymentIntent detail — use GET /actions/{action_id}'
      description: |
        Deprecated in v0.3. Successor: `GET /v1/actions/{action_id}`.
      operationId: getPaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payment-intents/{id}/approve:
    post:
      tags: [PaymentIntent]
      deprecated: true
      summary: '[Deprecated] Approve — use POST /actions/{action_id}/approve'
      description: |
        Deprecated in v0.3. Successor:
        `POST /v1/actions/{action_id}/approve`.
      operationId: approvePaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Updated PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }

  /payment-intents/{id}/reject:
    post:
      tags: [PaymentIntent]
      deprecated: true
      summary: '[Deprecated] Reject — use POST /actions/{action_id}/reject'
      description: |
        Deprecated in v0.3. Successor:
        `POST /v1/actions/{action_id}/reject`.
      operationId: rejectPaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Rejected PaymentIntent
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentIntent' }

  /payment-intents/{id}/execute:
    post:
      tags: [PaymentIntent]
      deprecated: true
      summary: '[Deprecated] Execute — use POST /actions/{action_id}/execute'
      description: |
        Deprecated in v0.3. Successor:
        `POST /v1/actions/{action_id}/execute`. Runs the deterministic
        13-step pre-execution gate (§6 of Engineering Standards) before
        dispatching. Returns 422 with one of the `gate_*` error codes if
        any check fails (previously the legacy code was the umbrella
        `payment_intent_gate_failed`).
      operationId: executePaymentIntent
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '202':
          description: Dispatched to rail
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_intent_id: { type: string }
                  execution_id: { type: string }
                  rail: { type: string }
                  status: { type: string, enum: [dispatched, in_flight] }
        '409':
          description: Gate failed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  #############################################################################
  # LAYER 5 (legacy): EXECUTION — deprecated, retained for v0.3 transition
  #
  # Every operation in this group carries `deprecated: true`. Runtime
  # responses include the `Deprecation: true` HTTP header (per RFC 8594)
  # alongside a `Link: <v0.3-path>; rel="successor-version"` header. New
  # integrations must target the /agents/* and /actions/* routes.
  #############################################################################

  /execution/propose:
    post:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] Agent proposes an action — use POST /agents/{agent_id}/propose'
      description: |
        Deprecated in v0.3. Successor: `POST /v1/agents/{agent_id}/propose`.

        The agent submits an action. The server evaluates it against the
        active policy and returns a decision. If decision=allow, the action
        can be executed immediately via /execute. If decision=confirm, the
        action requires human approval first. If decision=reject, no
        further action is possible.
      operationId: proposeActionLegacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id, action]
              properties:
                agent_id: { type: string }
                action: { $ref: '#/components/schemas/ProposedAction' }
                idempotency_key:
                  type: string
                  description: Client-supplied key for deduplication
      responses:
        '201':
          description: Proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'

  /execution/execute:
    post:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] Execute an approved proposal — use POST /actions/{action_id}/execute'
      description: |
        Deprecated in v0.3. Successor: `POST /v1/actions/{action_id}/execute`.
        The successor route runs the deterministic §6 13-step pre-execution
        gate; this legacy route still runs the gate but lacks the action-id
        addressability the v0.3 surface requires.
      operationId: executeProposalLegacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id]
              properties:
                proposal_id: { type: string, format: uuid }
                dry_run: { type: boolean, default: false }
      responses:
        '202':
          description: Execution started (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  execution_id: { type: string, format: uuid }
                  status: { type: string, enum: [started] }
        '409':
          description: Proposal not in executable state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /execution/{execution_id}:
    get:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] Execution status — use GET /actions/{action_id}'
      description: |
        Deprecated in v0.3. Successor: `GET /v1/actions/{action_id}`. The
        v0.3 surface unifies Proposal and PaymentIntent under a single
        Action resource.
      operationId: getExecution
      parameters:
        - name: execution_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Execution record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
        '404': { $ref: '#/components/responses/NotFound' }

  /execution/approve:
    post:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] Human approval — use POST /actions/{action_id}/approve'
      description: |
        Deprecated in v0.3. Successor: `POST /v1/actions/{action_id}/approve`.
      operationId: approveProposal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id]
              properties:
                proposal_id: { type: string, format: uuid }
                approver_notes: { type: string }
      responses:
        '200':
          description: Approved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Proposal' }

  /execution/escalate:
    post:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] Agent escalates to human — no direct v0.3 successor'
      description: |
        Deprecated in v0.3. Escalation is now subsumed by the
        PolicyDecision/Action lifecycle: when policy outcome is `confirm`,
        the Action transitions to `pending_approval` and surfaces in
        `GET /v1/actions` filtered by `status=pending_approval`. Agents do
        not request escalation; the policy evaluator decides.
      operationId: escalateProposal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id, reason]
              properties:
                proposal_id: { type: string, format: uuid }
                reason: { type: string }
      responses:
        '200':
          description: Escalated

  /execution/agents:
    get:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] List configured agents — use GET /agents'
      description: |
        Deprecated in v0.3. Successor: `GET /v1/agents`.
      operationId: listAgentsLegacy
      responses:
        '200':
          description: Agent list
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items: { $ref: '#/components/schemas/Agent' }

  /execution/agents/register:
    post:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] Register external agent — use POST /agents/register'
      description: |
        Deprecated in v0.3. Successor: `POST /v1/agents/register`.

        Registers a third-party agent for this tenant. Returns on-chain
        attestation transaction hash after BrainMCPAgentRegistry registration
        completes.
      operationId: registerExternalAgentLegacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_address, scope]
              properties:
                agent_address:
                  type: string
                  description: Ethereum address of the agent
                scope:
                  $ref: '#/components/schemas/AgentScope'
                tenant_signature:
                  type: string
                  description: EIP-712 signature authorizing this scope
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id: { type: string }
                  onchain_tx_hash: { type: string }
                  scope_hash: { type: string }

  /execution/agents/{agent_id}:
    get:
      tags: [Execution]
      deprecated: true
      summary: '[Deprecated] Get agent — use GET /agents/{agent_id}'
      description: |
        Deprecated in v0.3. Successor: `GET /v1/agents/{agent_id}`.
      operationId: getAgentLegacy
      parameters:
        - name: agent_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Agent record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agent' }

  #############################################################################
  # LAYER 6: AUDIT
  #############################################################################

  /audit/entity/{entityType}/{entityId}:
    get:
      tags: [Audit]
      summary: Every audit event touching a Ledger row
      operationId: getAuditEntityHistory
      parameters:
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum:
              - account
              - balance
              - transaction
              - counterparty
              - obligation
              - document
              - invoice
              - payment_intent
              - reconciliation_match
              - proposal
              - execution
        - name: entityId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Event history
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_type: { type: string }
                  entity_id: { type: string }
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEvent' }

  /audit/events:
    get:
      tags: [Audit]
      summary: Query audit events
      operationId: queryAuditEvents
      parameters:
        - name: layer
          in: query
          schema:
            type: string
            enum: [raw, wiki, policy, execution]
        - name: actor
          in: query
          schema: { type: string }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: until
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEvent' }
                  next_cursor: { type: string, nullable: true }

  /audit/event/{event_id}:
    get:
      tags: [Audit]
      summary: Get a single event with inclusion proof
      operationId: getAuditEvent
      parameters:
        - name: event_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Event and proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  event: { $ref: '#/components/schemas/AuditEvent' }
                  inclusion_proof:
                    type: object
                    properties:
                      merkle_root: { type: string }
                      merkle_proof:
                        type: array
                        items: { type: string }
                      anchor_tx_hash: { type: string }
                      anchor_block: { type: integer }

  /audit/export:
    post:
      tags: [Audit]
      summary: Request an audit export (async)
      operationId: exportAudit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format, since, until]
              properties:
                format: { type: string, enum: [jsonl, csv] }
                since: { type: string, format: date-time }
                until: { type: string, format: date-time }
                layers:
                  type: array
                  items:
                    type: string
                    enum: [raw, wiki, policy, execution]
      responses:
        '202':
          description: Export job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string, format: uuid }
                  status_url: { type: string, format: uri }

  /audit/anchor/latest:
    get:
      tags: [Audit]
      summary: Get the latest on-chain anchor for the current tenant
      operationId: getLatestAnchor
      responses:
        '200':
          description: Anchor record
          content:
            application/json:
              schema:
                type: object
                properties:
                  merkle_root: { type: string }
                  event_count: { type: integer }
                  period_start: { type: string, format: date-time }
                  period_end: { type: string, format: date-time }
                  onchain_tx_hash: { type: string }
                  onchain_block_number: { type: integer }

  /audit/verify:
    post:
      tags: [Audit]
      summary: Verify an event's inclusion against on-chain root
      description: |
        Independent verification. Caller supplies an event hash, a Merkle
        proof, and a claimed root. Server verifies the proof and the root's
        on-chain presence. Returns true only if both hold.
      operationId: verifyInclusion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_hash, merkle_proof, merkle_root]
              properties:
                event_hash: { type: string }
                merkle_proof:
                  type: array
                  items: { type: string }
                merkle_root: { type: string }
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
                  onchain_block: { type: integer, nullable: true }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT bearer token issued by Brain's auth service.
        Contains tenant_id and scopes. See Engineering Standards
        section 2 for the full auth model.

  parameters:
    RawId:
      name: raw_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    EntityId:
      name: entity_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    TenantId:
      name: tenant_id
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: Request is malformed or missing required fields
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Authentication failed or missing
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Authenticated but not authorized for this operation
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found or not accessible to this tenant
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PayloadTooLarge:
      description: Request body exceeds maximum size
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UnsupportedMediaType:
      description: Content-Type not supported for this operation
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UnprocessableEntity:
      description: Request is well-formed but semantically invalid
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:

    Error:
      type: object
      required: [error]
      description: |
        Canonical Brain error envelope. Every non-2xx response wraps its
        body in this shape. Source of truth:
        https://docs.brain.fi/resources/errors (canonical wire codes) and
        https://docs.brain.fi/api-reference/overview (envelope shape).

        Engineering Standards §4.1 previously specified the same nested
        shape under the field name `request_id`; the docs publish it as
        `trace_id` and the docs win — see docs/sdk-audit.md conflict E.
      properties:
        error:
          type: object
          required: [code, message, trace_id, docs_url]
          properties:
            code:
              type: string
              description: |
                Machine-readable error code. Stable: once shipped a code
                is never renamed (Standards §4.3 "additions only"). See
                services/api/src/shared/errors.ts for the registry.
            message:
              type: string
              description: Human-readable error message (English, untranslated).
            details:
              type: object
              additionalProperties: true
              description: |
                Optional structured payload. Schema is code-specific —
                e.g. `policy_denied` carries `{rule_id, …}`, `gate_*`
                carries `{check, …}`.
            trace_id:
              type: string
              description: |
                Correlation id for support. Per-request, surfaced in
                logs, metrics, and traces. Pass to support to retrieve
                the full request timeline.
              example: trc_8f3a92...
            docs_url:
              type: string
              format: uri
              description: |
                Direct link to the docs page for this error code, of the
                form https://docs.brain.fi/errors/{code}.
              example: https://docs.brain.fi/errors/policy_denied
      example:
        error:
          code: policy_denied
          message: Counterparty not approved
          details:
            counterparty_id: cp_x
            policy_version: 3
          trace_id: trc_8f3a92abc
          docs_url: https://docs.brain.fi/errors/policy_denied

    #
    # Sources (PLAN-FIRST #12) — adapter connections that feed the Raw
    # layer. The 8-value MVP set per docs/sdk-audit.md decision K2.
    # Adding a new value to `SourceType` is a non-breaking enum widening
    # — extends as adapters ship (Architecture §3.1, "Other
    # source-specific adapters … are post-MVP").
    #

    SourceType:
      type: string
      description: |
        Source connector identifier. v0.3 MVP set (8 values).
        Stub-mode connectors: csv_upload, pdf_upload, email_inbound,
        netsuite, alchemy_wallet, eth_address. Concrete connectors:
        plaid, stripe.
      enum:
        - plaid
        - stripe
        - netsuite
        - email_inbound
        - csv_upload
        - pdf_upload
        - alchemy_wallet
        - eth_address

    SourceStatus:
      type: string
      enum:
        - active
        - paused
        - error
        - disconnected

    Source:
      type: object
      required: [id, tenantId, type, status, created_at]
      properties:
        id:
          type: string
          description: Source id (src_<ulid>).
        tenantId:
          type: string
        type:
          $ref: '#/components/schemas/SourceType'
        status:
          $ref: '#/components/schemas/SourceStatus'
        last_synced_at:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          description: |
            Caller-supplied labels (`label`, `description`, etc.).
            Stored verbatim and returned unchanged.
        error_message:
          type: string
          nullable: true
          description: |
            Most recent provider-level error. Populated when status =
            `"error"` (typically after `source_credential_invalid` or
            `upstream_timeout`).
        is_stub:
          type: boolean
          description: |
            True when the underlying adapter is not yet implemented and
            sync/ingest return a `{notes: "stub"}` shape. Useful for
            UIs that want to grey out "Sync now" for stub sources.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CashFlowSummary:
      type: object
      required: [tenantId, since, until, currencies]
      description: |
        Per-currency cash-flow aggregation over a window. When the
        caller filters by `currency`, the array contains exactly one
        entry; otherwise one entry per currency present in the window.
      properties:
        tenantId: { type: string }
        since: { type: string, format: date-time }
        until: { type: string, format: date-time }
        currencies:
          type: array
          items:
            type: object
            required: [currency, inflow, outflow, net, by_day]
            properties:
              currency: { type: string, pattern: '^[A-Z]{3}$' }
              inflow:
                type: string
                description: Decimal string. Sum of `inflow` direction in window.
              outflow:
                type: string
                description: Decimal string. Sum of `outflow` direction in window.
              net:
                type: string
                description: Decimal string. inflow minus outflow.
              transaction_count: { type: integer, minimum: 0 }
              by_day:
                type: array
                description: Daily breakdown, in ascending date order.
                items:
                  type: object
                  required: [date, inflow, outflow, net]
                  properties:
                    date:
                      type: string
                      format: date
                    inflow: { type: string }
                    outflow: { type: string }
                    net: { type: string }

    #
    # Raw layer
    #

    RawSourceType:
      type: string
      enum:
        - plaid
        - erp_netsuite
        - email
        - upload
        - chain_evm
        - stripe
        - agent_contributed
        - other

    RawIngestResponse:
      type: object
      properties:
        raw_id: { type: string, format: uuid }
        sha256: { type: string, pattern: '^[a-f0-9]{64}$' }
        source_type: { $ref: '#/components/schemas/RawSourceType' }
        bytes: { type: integer }
        ingested_at: { type: string, format: date-time }
        deduplicated:
          type: boolean
          description: True if this artifact was already in storage

    RawParsed:
      type: object
      properties:
        id: { type: string, format: uuid }
        raw_artifact_id: { type: string, format: uuid }
        parser: { type: string }
        parser_version: { type: string }
        extracted:
          type: object
          additionalProperties: true
        confidence: { type: number, minimum: 0, maximum: 1 }
        extracted_at: { type: string, format: date-time }

    #
    # Wiki layer
    #

    EntityKind:
      type: string
      enum:
        - account
        - counterparty
        - transaction
        - obligation
        - policy
        - agent

    Provenance:
      type: string
      enum:
        - extracted
        - inferred
        - ambiguous
        - human_confirmed
        - agent_contributed

    WikiEntity:
      type: object
      properties:
        id: { type: string, format: uuid }
        kind: { $ref: '#/components/schemas/EntityKind' }
        attributes:
          type: object
          additionalProperties: true
        valid_from: { type: string, format: date-time }
        valid_to: { type: string, format: date-time, nullable: true }
        provenance: { $ref: '#/components/schemas/Provenance' }
        confidence: { type: number, minimum: 0, maximum: 1 }
        source_evidence:
          type: array
          items: { type: string, format: uuid }

    RelationKind:
      type: string
      enum:
        - transacted_with
        - owes
        - owed_by
        - governed_by

    WikiRelation:
      type: object
      properties:
        id: { type: string, format: uuid }
        src: { type: string, format: uuid }
        dst: { type: string, format: uuid }
        kind: { $ref: '#/components/schemas/RelationKind' }
        attributes:
          type: object
          additionalProperties: true
        valid_from: { type: string, format: date-time }
        valid_to: { type: string, format: date-time, nullable: true }
        provenance: { $ref: '#/components/schemas/Provenance' }
        confidence: { type: number, minimum: 0, maximum: 1 }
        source_evidence:
          type: array
          items: { type: string, format: uuid }

    EvidenceChain:
      type: object
      properties:
        entity_id: { type: string, format: uuid }
        chain:
          type: array
          items:
            type: object
            properties:
              raw_parsed_id: { type: string, format: uuid }
              parser: { type: string }
              confidence: { type: number }
              extracted_fields:
                type: array
                items: { type: string }

    WikiAnswer:
      type: object
      properties:
        question: { type: string }
        answer: { type: string }
        confidence: { type: number, minimum: 0, maximum: 1 }
        evidence_path:
          type: array
          items:
            type: object
            properties:
              step: { type: integer }
              description: { type: string }
              entity_id: { type: string, format: uuid, nullable: true }
              sql_query: { type: string, nullable: true }
              result_summary: { type: string }
        llm_metadata:
          type: object
          properties:
            model: { type: string }
            tokens_input: { type: integer }
            tokens_output: { type: integer }
            latency_ms: { type: integer }

    EntityAnnotation:
      type: object
      required: [entity_id, corrections]
      properties:
        entity_id: { type: string, format: uuid }
        corrections:
          type: object
          additionalProperties: true
        note: { type: string }

    RelationAnnotation:
      type: object
      required: [relation_id, corrections]
      properties:
        relation_id: { type: string, format: uuid }
        corrections:
          type: object
          additionalProperties: true
        note: { type: string }

    #
    # Policy layer
    #

    Policy:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        version: { type: integer }
        content:
          $ref: '#/components/schemas/PolicyDSL'
        content_hash: { type: string }
        signers:
          type: array
          items:
            type: object
            properties:
              address: { type: string }
              signature: { type: string }
        activated_at: { type: string, format: date-time }
        deactivated_at: { type: string, format: date-time, nullable: true }
        onchain_tx_hash:
          type: string
          nullable: true
          description: Set for enterprise tier after BrainPolicyRegistry registration

    PolicyDSL:
      type: object
      required: [rules]
      properties:
        rules:
          type: array
          items: { $ref: '#/components/schemas/PolicyRule' }

    PolicyRule:
      type: object
      required: [id, applies_to, execute]
      properties:
        id: { type: string }
        applies_to:
          type: array
          items:
            type: string
            enum:
              - outbound_payment
              - inbound_payment
              - ledger_write
              - onchain_tx
              - any
        when:
[...]
